$md0: 1920.05px;
$md1: 1440px;
$md2: 1200px;
$md3: 992px;
$md4: 768px;
$md5: 568px;
$md6: 412px;

:root {
  --color-main: #0003FF;
  --color-gray: #686868;
}

html,
body {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

a {
  font-size: inherit;
  display: inline-block;
  text-decoration: none;
  color: inherit;
  line-height: inherit;
}

body {
  font-family: 'Manrope', sans-serif;
  background: #000;
  color: #fff;
  font-weight: 500;
  font-size: 1.04vw;
  line-height: 1.2;
  overflow-x: hidden;

  @media screen and (prefers-color-scheme: light) {
    background: #000;
    color: #fff;
  }

  @media screen and (prefers-color-scheme: dark) {
    background: #000;
    color: #fff;
  }

  &.overflow {
    height: 100vh;
    overflow: hidden;
  }
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

// .main-screen {
//     height: auto;
//     position: relative;
//     z-index: 7;
// }
.page-content {
  width: 100%;
  overflow: hidden;
  //padding-top: 100vh;
}

.container {
  padding: 0 1.45vw 0 1.45vw;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

.blue-text {
  color: var(--color-main);
}

.decor-text {
  position: relative;
  white-space: nowrap;
  margin: 0 0.26vw;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0.05vw;
    left: -0.31vw;
    width: calc(100% + 0.63vw);
    height: calc(100% + 0px);
    border: 0.10vw solid #000;
    border-radius: 0.52vw;

  }
}

.btn {
  font-family: inherit;
  cursor: pointer;
  display: block;
  min-width: 7.3vw;
  width: -moz-fit-content;
  width: fit-content;
  background: var(--color-main);
  color: #ECECEC;
  text-align: center;
  border-radius: 1.98vw;
  font-size: 0.73vw;
  padding: 1vw 1vw 1.1vw 1vw;
  transition: background-color ease-in-out 0.3s;
  font-weight: 500;
  position: relative;
  // transition: background-color ease 0.3s;
  white-space: nowrap;

  span {
    position: relative;
    z-index: 2;
    // transition: background-color ease 0.3s;
  }

  &:hover {
    background-color: #0205bd;
  }

  &_app {
    text-align: left;
    padding: 0.2vw 0.3vw 0.1vw 0.94vw;
    background-color: #fff;
    color: #000;
    border-radius: 0.52vw;
    min-width: 7.3vw;
    transition: background-color ease .3s;
    min-height: 2.29vw;
    display: flex;
    align-items: center;

    &:hover {
      background-color: rgb(197, 197, 197);
    }

    img {
      display: block;
      width: 6.56vw;
      height: auto;

      &.AppStore {
        width: 5.63vw;
      }
    }
  }
}

.more-btn {
  font-size: 1.04vw;
  min-width: 10.94vw;
  padding: 1.25vw 1.30vw 1.15vw;
  background: #000;
  color: #fff;
}

h3.main__title {
  font-size: 3.13vw;
}

h5.main__title {
  font-size: 1.35vw;
}

.text-desktop {
  display: block !important;

}

.text-mob {
  display: none !important;

}

.main {
  &__title {
    line-height: .85;
    font-size: 6.25vw;
    letter-spacing: -.01em;
    color: #ECECEC;
    text-align: center;

    * {
      background: inherit;
    }

    & > * {
      min-width: 100%;
    }
  }

  &__text {
    text-align: center;
    font-size: 1.25vw;
    line-height: 1.4em;
    margin: 0 auto;

    @media screen and (min-width: $md0) {
      font-size: 1vw;
      letter-spacing: .04em;
    }
  }

  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.title-row {
  overflow: hidden;
  position: relative;

  &:nth-child(2) {
    top: -0.7em;
  }

  &:nth-child(3) {
    top: -1.4em;
  }

  &:nth-child(4) {
    top: -2.1em;
  }

  &:nth-child(5) {
    top: -2.8em;
  }
}

.swiper-btn {
  border: 0.05vw solid #FFFFFF;
  background: none;
  border-radius: 1.98vw;
  max-width: 6.61vw;
  width: 100%;
  height: 3.91vw;
  z-index: 3;

  &.swiper-button-disabled {
  }

  &::after {
    display: none;
  }

  img {
    width: 1.56vw;
    height: 0.99vw;
  }

  &:hover {
    background: var(--color-main);
    border: 0.05vw solid var(--color-main);
  }
}

.swiper-button-next {
  transform: translateX(calc(100% + 0.52vw));

  img {
    transform: rotate(180deg);
  }
}

.main__text,
.pvp__title,
.animate,
.text-line,
[data-effect="line"],
[data-effect="fade-in"],
[data-effect="fade-down"] {
  will-change: transform;
}

[data-effect="opacity"] {
  will-change: opacity;
}

.header__logo,
.header__lang,
.header__link,
.dropdown__header {
  overflow: hidden;
}

[data-effect="line"] {
  display: block;
  will-change: transform;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.flip {
  transform-origin: top center;
  display: block;
}

.main-link {
  transition: all ease .3s;

  &:hover {
    color: var(--color-main);
  }
}

.hidden {
  overflow: hidden;
}

.gradient-text {
  color: #D4C9C1;

  @supports (--css: variables) {
    background: #D4C9C1;
    background: linear-gradient(119.82deg, #D4C9C1 36.35%, #414345 90.11%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

    * {
      background: inherit;
    }
  }
}

.line {
  position: absolute;
  width: 0%;
  height: 0.05vw;
  background: #282828;
  position: absolute;
  left: 0;

  &_top {
    top: 0;
  }

  &_bottom {
    top: auto;
    bottom: 0;
  }
}

.color {
  &_gray {
    color: var(--color-gray)
  }

  &_green {
    color: #D6F82E;
  }
}

.main-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.readed-text {
  opacity: 1;

  .word {
    opacity: 0.3;
    color: #fff;
    transition: opacity ease-in .2s;
  }
}

.decor-line {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  svg {
    display: block;
    width: 0.111rem;
    height: 16.25vw;

  }

  &__wrapper {
    margin: 7.81vw 0px;
  }
}

.marquee3k__wrapper {
  will-change: transform;
}

