.adventure {
  //padding: 0vw 0 7.81vw;
  position: relative;

  &__content {
    position: relative;
    width: 41vw;
    margin: 0 auto 8vw;
    position: relative;
  }

  &__title {
    line-height: 1.6;
    letter-spacing: -0.26vw;
    margin-bottom: 3.5vw;
    position: relative;
    top: 7vw;

    & > * {
      min-width: 100%;
    }
  }

  &__text {
    max-width: 35.5vw;
    margin: 0 auto;
    /*   right: -8.8vw;
       bottom: -2.03vw;
       position: absolute;*/

    @media screen and (min-width: $md0) {
      font-size: 1vw;
      letter-spacing: .04em;
    }
  }
}

.adventure {

  &__slider {
    position: relative;
  }

  &__slider-phone {
    max-width: 31.77vw;
    width: 100%;
    margin: 0 auto;
    position: relative;
    left: 3.2vw;
    position: relative;
    z-index: 2;
  }

  &__phone-img {
    width: 31.77vw;
    position: relative;
    z-index: 2;
  }

  &__phone-phone {
    max-width: 19.11vw;
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    left: 3.39vw;
    z-index: 2;

    &.hide {
      opacity: 0;
    }
  }

  &__phone-hand {
    width: 31.77vw;
    display: block;
    height: auto;
    position: absolute;
    top: 14.01vw;
    left: 0.57vw;
    opacity: 0;
    transition: opacity ease .5s;

    &.show {
      opacity: 1;
    }
  }

  &__phone {
    max-width: 17.19vw;
    width: 100%;
    position: absolute;
    top: 0.89vw;
    left: 50%;
    transform: translateX(-67%);
  }

  &__phone-slide {
    transition-duration: 1s;

    &_video {

    }

    video {
      display: block;
      width: 100%;
      height: 100%;
    }

    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
  }
}

.cards-slider {
  position: absolute;
  top: 66%;
  transform: translateY(-50%);
  right: 0;
  z-index: 5;

  &__slider {
    max-width: 30vw;
    width: 100%;
    padding-bottom: 13.80vw;
  }

  &__slide {
    max-width: 20.21vw;
    width: 100%;
    height: 14.64vw;

    &.swiper-slide-next {
      .cards-slider__descr {
        color: #464646;
      }
    }

    &.swiper-slide-prev {
      .cards-slider__descr {
        color: #464646;
      }
    }
  }

  &__phone {
    display: none;
    position: relative;
    overflow: hidden;
    border-radius: 9.52vw;

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    .adventure__phone-phone {
      max-width: 100%;
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      display: block;
      width: 100%;
      height: 100%;
      z-index: 2;
    }

    video {
      position: relative;
      z-index: 1;
      width: 100%;
      top: 0;
      height: 100%;
      //left: 50%;
      //transform: translateX(-50%);
    }
  }

  &__block {
    background: #0F0F0F;
    border-radius: 2.71vw;
    width: 100%;
    height: 100%;
    min-height: fit-content;
    padding: 2.5vw 3.13vw 2vw 3vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 500;
    transition: right ease .5s;
  }

  &__descr {
    max-width: 10.42vw;
    width: 100%;
    line-height: 1.4;
    transition: all ease .2s;
    font-size: 0.83vw;
  }

  &__num {
    font-size: 0.94vw;
  }

  &__btn {
    top: auto;
    left: 0;
    bottom: 2.34vw;
    user-select: none;

    &.swiper-button-disabled {
      opacity: 0.5 !important;
    }
  }
}
