.create-omi {

  &__descr {
    //width: 59vw;
    margin: 0 auto 11vw;
    position: relative;
  }

  &__title {
    letter-spacing: -0.025em;
    margin-bottom: 7.2vw;
    line-height: 1.6em;
    position: relative;
    top: 1em;
  }

  &__title-row {
    perspective: 600px;

    &:not(:first-child) {
      position: relative;
      top: -0.6em;
    }
  }

  &__text {
    width: 100%;
  }

  &__marquue {
    margin-bottom: 19.2vw;
  }

  &__wrapper {
    display: flex;
  }

  &__item {
    transition: opacity ease .8s;
    width: 11.5vw;
    opacity: 1;
    margin: 0 1.67vw;
    // margin-right: 2.34vw;
    user-select: none;

    &_15 {
      width: 11.9vw;
    }

    img {
      width: 100%;
      margin: 0 auto;
      display: block;
      height: auto;
    }
  }

  &__btn {
    user-select: none;
    position: absolute;
    top: auto;
    bottom: 0;
    left: calc(50% - 3.5vw);
    transform: translateX(-50%);

    &_next {
      left: calc(50% + 3.5vw);
    }
  }

  &__cards {
    // width: 87.19vw;
    width: 81vw;
    margin: 0 auto;
  }

  &__cards-wrapper {
    display: flex;
  }


  &__card {
    width: 100%;

    &:not(:last-child) {
      margin-right: 1.04vw;
    }
  }
}

.omi-card {
  // padding: 4.38vw 2.60vw 4.08vw 2.60vw;
  padding: 4.2vw 3.2vw 3vw 3.6vw;
  border-radius: 3.49vw;
  position: relative;
  width: 100%;

  &_custom {
    background-color: #0D1314;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
  }

  &_points {
    background-color: #111113;
  }

  &_rarity {
    background-color: #0B1017;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
  }

  &__title {
    font-weight: 600;
    font-size: 1.4vw;
    text-align: center;
    margin-bottom: 1.04vw;
  }

  &__text {
    font-weight: 400;
    font-size: 0.85vw;
    line-height: 1.5em;
    text-align: center;
    mix-blend-mode: normal;
    opacity: 0.37;
    margin: 0 auto 5vw;
  }

  &__handle {
    // width: 21.61vw;
    margin: 0 auto;
  }

  &__row {
    padding: 1.2vw 0px 1.7vw 0vw;
    border-top: 0.05vw solid #323233;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__label {
    text-transform: uppercase;
    display: flex;
    align-items: flex-start;
  }

  &__label-icon {
    width: 1.15vw;
    height: 1.15vw;
    margin-right: 0.78vw;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__label-text {
    font-size: 0.73vw;
    line-height: 1.4em;
  }

  &__point {
    text-align: center;
    display: flex;
    align-items: center;
  }

  &__point-btn {
    cursor: pointer;
    width: 1.25vw;
    height: 1.25vw;
    background: rgba($color: #D8D8D8, $alpha: .12);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    font-size: 0.94vw;
    user-select: none;
  }

  &__point-value {
    // fonts-size: 1.93vw;
    font-size: 1.9vw;
    line-height: 1em;
    font-weight: 200;
    margin: 0 0.89vw;
    width: 3.6vw;
  }

  &__total {
    margin-top: 1.67vw;
    display: flex;
    align-items: flex-start;
  }

  &__total-value {
    font-weight: 300;
    // fonts-size: 3.96vw;
    font-size: 3.76vw;
    line-height: 1em;
    position: relative;
    left: 0.47vw;
    margin-right: 0.78vw;
  }

  &__total-descr {
    padding-top: 0.42vw;
    width: 5.21vw;
    text-transform: uppercase;
    font-size: 0.9vw;
  }

  &__unallocated-points {
    position: absolute;
    top: 0;
    right: 0;
    width: 4.8vw;
    height: 4.8vw;
    font-weight: 600;
    font-size: 1.6vw;
    background: #8A1010;
    transform: translate(10%, -20%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;

    .unallocated-points__value {
      position: relative;
      z-index: 2;
    }

    .scalingBlock {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #8A1010;
      opacity: 0.2;
      z-index: 1;
      border-radius: 50%;
    }
  }
}
