.culture {
  padding: 10vw 0 0vw;

  &__hero {
    position: relative;
    margin-bottom: 19.4vw;
  }

  &__title {
    font-size: 7.81vw;
    line-height: 0.82;
    letter-spacing: -0.05em;
    text-align: center;
    line-height: 1.6em;
    position: relative;
    top: 0.78em;
  }

  &__pose {
    width: 100%;
    max-width: 37vw;
    position: absolute;
    top: -7.4vw;
    left: 30.74vw;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}

.culture-event {
  position: relative;
  padding: 2.60vw 0 6.25vw 1.45vw;

  &__title {
    text-transform: uppercase;
    font-size: 1.51vw;
    letter-spacing: -0.02em;
    margin-right: 4.97vw;
    min-width: 10.42vw;
  }

  &__left {
    display: flex;
    align-items: flex-start;
  }

  &__text {
    color: var(--color-gray);
    font-size: 0.83vw;
    line-height: 1.5em;
    max-width: 17.40vw;
    p {
      &:not(:last-child) {
        margin-bottom: 1.04vw;
      }
    }
  }

  &__partners {
    display: flex;
    align-items: flex-start;
    max-width: 50vw;
    width: 100%;
  }

  &__partners-label {
    white-space: nowrap;
    text-transform: uppercase;
    margin-right: 2.60vw;
    font-size: 0.83vw;
  }

  &__partners-items {
    position: relative;
    top: -0.6vw;
    display: flex;
    overflow: hidden;
  }

  &__circle {
    padding: 2.29vw 1.98vw 1.98vw 1.98vw;
    flex: 0 0 17.71vw;
    width: 17.71vw;
    height: 17.71vw;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: opacity ease-in .3s;

    &:not(:last-child) {
      margin-right: 1.25vw;
    }

    &_soon {
      justify-content: flex-start;
      background-color: #000;
    }

    &_bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    &_nina {
      img {
        object-position: 20%;
      }
    }
  }

  &__circle-name {
    position: relative;
    z-index: 2;

    &_abra {
      max-width: 5.26vw;
      width: 100%;

      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }

    &_nina {
      font-size: 1.51vw;
      font-weight: bold;
    }
  }

  &__circle-soon {
    position: relative;
    z-index: 2;
    text-transform: uppercase;
    font-size: 1.20vw;
    font-weight: 600;
  }
}
