.each-point {
  padding: 4.01vw 0 0vw;

  &__title {
    font-size: 2.45vw;
    //max-width: 50vw;
    width: 100%;
    margin: 0 auto 3.85vw;
    text-align: center;
  }

  &__text {
    text-align: center;
    width: 100%;
    margin: 0 auto 4.95vw;
    line-height: 1.8em;
    font-size: 0.94vw;

    &_2 {
      margin: 0 auto;
    }
  }

  &__circles {
    display: flex;
    max-width: 88.75vw;
    width: 100%;
    margin: 0 auto;
  }

  &__circle {
    padding: 7.29vw 5.52vw 7.29vw 5.52vw;
    position: relative;
    width: 24.43vw;
    height: 24.43vw;
    border-radius: 50%;
    border: 0.05vw solid rgba(255, 255, 255, .3);

    &:not(:first-child) {
      margin-left: - 2.08vw;
    }
  }

  &__circle-text {
    max-width: 15.63vw;
    width: 100%;
    font-size: 0.94vw;
   }

  &__route {
    position: relative;
    transform: translateY(-89%);
    margin-bottom: -10.47vw;
  }

  &__svg {
    width: 100vw;
    height: 18.07vw;

    &_mob {
      display: none;

      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }
  .dashed {
    width: 100vw;
    height: 18.07vw;
  }

  .mask {
    stroke-dasharray: 3810;
    stroke-dashoffset: 3810;
  }

  &__mark {
    position: absolute;
    opacity: 0;
    transition: opacity ease-out .1s;
    max-width: 0.52vw;

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    &.show {
      opacity: 1;
    }

    &_1 {
      left: 11.09vw;
      top: 6vw;
    }

    &_2 {
      bottom: 1vw;
      left: 12.19vw;
    }

    &_3 {
      left: 32.40vw;
      top: 4.7vw;
    }

    &_4 {
      left: 38.65vw;
      top: 7.50vw;
    }

    &_5 {
      left: 31.77vw;
      bottom: 3.5vw;
    }

    &_6 {
      left: 54.02vw;
      top: 3.7vw;
    }

    &_7 {
      right: 23.70vw;
      top: 10.26vw;
    }

    &_8 {
      right: 14.74vw;
      top: 3.33vw;
    }

    &_9 {
      bottom: 5.2vw;
      right: 5.89vw;
    }
  }

  &__list {
    display: none;
  }

  &__elem {
    position: relative;
    padding-left: 4vw;

    &::before {
      content: '';
      display: block;
      background: url("../img/icons/map_marker.svg");
      background-size: cover;
      width: 1vw;
      height: 1.2vw;
      position: absolute;
      top: 0.6vw;
      left: 0;
    }

    &:not(:last-child) {
      margin-bottom: 4vw;
    }

  }
}
