.each-point {
  padding: 4.01vw 0 7.81vw;

  &__title {
    font-size: 2.45vw;
    max-width: 41.30vw;
    width: 100%;
    margin: 0 auto 3.85vw;
    text-align: center;
  }

  &__text {
    text-align: center;
    max-width: 15.63vw;
    width: 100%;
    margin: 0 auto 4.95vw;
    line-height: 1.8em;
    font-size: 0.94vw;

    &_2 {
      max-width: 26.04vw;
      margin: 0 auto;
    }
  }

  &__circles {
    display: flex;
    max-width: 88.75vw;
    width: 100%;
    margin: 0 auto;
  }

  &__circle {
    padding: 7.29vw 5.52vw 7.29vw 5.52vw;
    position: relative;
    width: 24.43vw;
    height: 24.43vw;
    border-radius: 50%;
    border: 0.05vw solid rgba(255, 255, 255, .3);

    &:not(:first-child) {
      margin-left: - 2.08vw;
    }
  }

  &__circle-text {
    max-width: 15.63vw;
    width: 100%;
  }

  &__route {
    position: relative;
    transform: translateY(-89%);
    margin-bottom: -10.47vw;
  }

  &__svg {
    display: block;
    width: 100vw;

    svg {
      width: 100vw;
    }
  }

  .mask {
    stroke-dasharray: 200vw;
    stroke-dashoffset: 200vw;
  }

  &__mark {
    position: absolute;
    opacity: 0;
    transition: opacity ease-out .1s;

    &.show {
      opacity: 1;
    }

    &_1 {
      left: 11.09vw;
      top: 5.42vw;
    }

    &_2 {
      bottom: 0.36vw;
      left: 12.19vw;
    }

    &_3 {
      left: 32.40vw;
      top:4.38vw;
    }

    &_4 {
      left: 38.65vw;
      top: 7.50vw;
    }

    &_5 {
      left: 31.77vw;
      bottom: 2.92vw;
    }

    &_6 {
      left: 53.02vw;
      top: 3.13vw;
    }

    &_7 {
      right: 23.70vw;
      top: 10.26vw;
    }

    &_8 {
      right: 14.74vw;
      top: 3.33vw;
    }

    &_9 {
      bottom: 4.79vw;
      right: 5.89vw;
    }
  }
}
