.find {
  padding: 2.4vw 0 7.81vw;

  &__descr {
    position: relative;
    margin: 0 auto 4.5vw;
  }

  &__title {
    width: 100%;
    letter-spacing: -0.26vw;
    position: relative;
    margin: 0 auto 3vw;
    line-height: 1.6em;
    top: 1em;

    .text-line {
      white-space: nowrap;
    }
  }

  &__text {
    width: 100%;
  }
}

.find-map {
  position: relative;
  height: 56.25vw;

  &__map {
    position: absolute;
    bottom: 3.33vw;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: fill;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__phone {
    width: 16.88vw;
    margin: 0 auto;
    position: relative;
    top: 5vw;

    img {
      position: relative;
      z-index: 2;
      display: block;
      width: 100%;
      height: auto;
    }
  }
}

