.fixed-btns {
  position: fixed;
  bottom: 2.1vw;
  left: 0;
  right: 0;
  z-index: 9;
  pointer-events: none;

  &__wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__left {
    display: flex;
    pointer-events: auto;
  }

  &__app {
    font-weight: bold;
    min-width: 7.8vw;

    &:not(:last-child) {
      margin-right: 0.5vw;
    }
  }

  &__right {
    pointer-events: auto;
  }
}
