.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 0.92vw 0 0.85vw;
  font-size: 0.63vw;
  line-height: 1.8;
  font-weight: 500;
  width: 100%;
  letter-spacing: 0.05vw;
  z-index: 10;
  color: #ECECEC;
  // opacity: 0;
  //transition: transform .4s cubic-bezier(.87, 0, .13, 1);

  &.element-show {
    opacity: 1;
  }

  &.hide {
    .header__text {
      transform: translateY(-300%);
      transition: transform .8s cubic-bezier(.87, 0, .13, 1);
    }
  }

  &__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

  }

  &__left {
    margin-right: 2.08vw;
    display: flex;
    position: relative;
  }

  &__text {
    position: relative;
    line-height: 1.1em;
    top: 0.35em;
    transition: all ease-in .3s;
    font-size: .73vw;
    letter-spacing: .06em;
    text-transform: uppercase;
  }

  &__text-row {
    overflow: hidden;
  }

  &__logo {
    margin-right: 2.1vw;
    width: 5.21vw;
    min-width: 3.13vw;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__link {
    font-size: 0.63vw;
    position: relative;
    width: fit-content;
    margin-right: 1.09vw;
    padding-right: 0.73vw;
    letter-spacing: -0.01em;

    .arrow_link {
      content: '';
      display: block;
      width: 0.42vw;
      height: auto;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      transition: fill, transform ease-in .3s;
      fill: rgba(255, 255, 255, 0.3);
      }

    &:hover {
      .arrow_link {
        fill: #fff;
        transform: translate(25%, -50%);
      }
    }
  }

  &__btn {
    border: none;
    outline: none;
    min-width: 4.3vw;
    background-color: #fff;
    color: #000;
    padding: .36vw .78vw .38vw .78vw;
    font-size: 0.63vw;
    margin-left: 1.6vw;
    //transition-property: opacity, background-color !important;
    transition: background-color ease-in-out 0.3s, opacity cubic-bezier(.16, .01, .77, 1) .6s 0.9s !important;

    &:hover {
      background-color: #c4c4c4;
    }
  }
}

.mob-menu {

}
