.hunger-games {
  padding: 9vw 0 10vw;
  margin-bottom: 2.6vw;

  &__wrapper {
    position: relative;
    z-index: 2;
  }

  &__title {
    text-align: center;
    width: 100%;
    line-height: 1.6em;
    letter-spacing: -0.03em;
    font-size: 6.25vw;
    margin-bottom: -4.5vw;

    &_small {
      position: relative;
      font-size: 4.17vw;
      line-height: .6em;
    }
  }

  &__pose {
    position: absolute;
    top: -22vw;
    left: 42vw;
    width: 15.05vw;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__city {
    width: 100%;
    margin: -4.74vw auto -9.64vw;
    position: relative;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__text {
    font-size: 0.83vw;
    line-height: 2;
    width: 16.93vw;
    color: rgba(255, 255, 255, 0.58);

    p {
      display: block;

      &:not(:last-child) {
        margin-bottom: 1.46vw;
      }
    }
  }

  &__cards {
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.83vw;
    max-width: 56.81vw;
    width: 100%;
    margin: 0 auto;

  }
}

.card-token.hunger-card {
  padding: 3vw 2.81vw 4.17vw 2.81vw;
  justify-content: flex-start;
  @media(max-width: $md3) {
    height: auto;
  }
  @media(max-width: $md4) {
    padding: 6.85vw 5.21vw 7.11vw 5.21vw;
  }
}

.hunger-card {
  &__icon {
    min-height: 2.60vw;
    margin-bottom: 50%;


    &_1 {
      width: 10.63vw;

    }

    &_2 {
      width: 3.44vw;

    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__content {
  }

  &__title {
    font-size: 2.08vw;
    margin-bottom: 30px;
  }

  &__text {
    max-width: 90%;
    font-size: 0.94vw;
    line-height: 1.33em;

    p {
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }
  }
}

