.individual {

  &__title {
    color: #DEDEDE;
    text-transform: uppercase;
    font-size: 1.46vw;
    line-height: 1.3em;
    font-weight: bold;
  }
}

.individual-chose {
  display: flex;

  &__item {
    max-width: 15.63vw;
    width: 100%;
    text-transform: uppercase;

    &:not(:last-child) {
      margin-right: 9.11vw;
    }
  }

  &__label {
    font-size: 1.35vw;
    margin-bottom: 1.30vw;
    overflow: hidden;
  }

  &__text {
    font-size: 0.94vw;
    line-height: 1.7em;
    max-width: 15vw;
    .word {
      overflow: hidden;
    }
  }

  &__list {
    font-size: 0.94vw;
    line-height: 1.7em;
      }

  &__list-elem {
    position: relative;

    .word {
      overflow: hidden;
    }

    &:not(:last-child) {
      margin-bottom: 1.3vw;
    }

    &::before {
      content: attr(data-count);
      border: 0.1vw solid #555555;
      color: #555555;
      font-weight: 700;
      font-size: 0.63vw;
      line-height: 1.3em;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0.26vw;
      left: -2.08vw;
      width: 1.20vw;
      height: 1.20vw;
          }
  }
}
