.keep {
  padding: 3.5vw 0 13.02vw;

  &__header {
    position: relative;
    padding-bottom: 2.96vw;
  }

  &__line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.05vw;
    background: #5F5F5F;
  }

  &__title {
    text-transform: uppercase;
    overflow: hidden;
    font-weight: 600;
    font-size: 3.13vw;
    letter-spacing: -0.03em;
  }

  &__wrapper {
    position: relative;
    padding: 4.43vw 0 6.77vw;
    grid-template-columns: 1.5fr 1fr;
  }

  &__socials-list {
    font-size: 1.56vw;
  }

  &__socials-elem {
    &:not(:last-child) {
      margin-bottom: 1.56vw;
    }
  }

  &__socials-link {
    overflow: hidden;
  }

  &__wrapper-content {
    display: flex;
  }

  &__wrapper-descr {
    width: 100%;

    &:not(:last-child) {
      margin-right: 6.25vw;
    }
  }

  &__wrapper-label {
    overflow: hidden;
    text-transform: uppercase;
    margin-bottom: 2.55vw;
    font-size: 1.46vw;
  }

  &__wrapper-text {
    font-size: 0.83vw;
    color: #C8C8C8;
    line-height: 1.6em;

    p {
      &:not(:last-child) {
        margin-bottom: 1.20vw;
      }
    }
  }
}
