.market {
  padding: 13vw 0 15vw;

  &__wrapper {
    position: relative;
    margin: 0 auto 11.9vw;
  }

  &__title {
    letter-spacing: -0.04em;
    margin-bottom: -3vw;
    line-height: 1.6em;
      }


  &__text {
    width: 100%;
    margin: 0 auto;
  }


  &__descr {
    display: grid;
    grid-template-columns: 1fr 1fr;
      }

  &__subtitle {
    text-align: right;
    font-size: 3.13vw;
    text-transform: uppercase;
    font-weight: bold;
    width: 13.02vw;
    margin-right: 2.92vw;
    line-height: 1em;
    justify-self: end;
  }

  &__descr-text {
    position: relative;
    top: 6.35vw;
    font-size: 0.83vw;
    line-height: 2em;
    width: 13.91vw;
    text-transform: uppercase;

    p {

      &:not(:last-child) {
        margin-bottom: 1.98vw;
      }
    }
  }

}

.market-catalog {
  margin-bottom: 10.5vw;

  &__row {
    display: flex;
    flex-wrap: nowrap;

    &:not(:first-child) {
      position: relative;
      top: -0.1vw;
    }
  }

  &__row-item {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13.85vw;
    height: 15.78vw;
    padding: 1.77vw;
    position: relative;
    border-top: 0.11vw solid #262626;
    border-bottom: 0.11vw solid #262626;
    border-left: 0.05vw solid #262626;
    border-right: 0.05vw solid #262626;

    img {
      display: block;
      width: 11.30vw;
      height: auto;
    }

    &_text {
      align-items: flex-start;
      justify-content: start;
      white-space: normal;
      font-size: 0.83vw;
      line-height: 1.4em;
      background: #111111;
    }
  }
}
