.pvp {
  padding: 0vw 0 10vw;

  &__wrapper {
    position: relative;
    margin-bottom: 15.5vw;
  }

  &__descr {
    position: relative;
  }

  &__title {
    text-align: center;
    font-size: 30.31vw;
    line-height: 1em;
    letter-spacing: -0.02em;
    position: relative;
    left: -0.04em;
  }

  &__text {
    //max-width: 31.25vw;
    width: 100%;
    margin: 0 auto 15vw;
    font-weight: 500;
    font-size: 1.25vw;
    text-align: center;
    line-height: 1.42em;
    letter-spacing: -0.02em;

    p {
      &:not(:last-child) {
        margin-bottom: 1.56vw;
      }
    }
  }

  &__phones {
    display: flex;
  }

  &-phone {
    max-width: 15.31vw;
    width: 100%;

    &:not(:last-child) {
      margin-right: 6.93vw;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__map {
    position: relative;
    margin-top: -19vw;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}

.pvp-pose {
  &_1 {
    max-width: 46.15vw;
    width: 100%;
    position: absolute;
    top: 8.58vw;
    left: 23.13vw;
    z-index: 4;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &_2 {
    position: absolute;
    top: 0vw;
    right: 33.74vw;
    max-width: 20.99vw;
    width: 100%;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}

.pvp-content {
  max-width: 38.54vw;
  width: 100%;
  display: flex;
  margin: 0 auto;

  &__col {
    width: 100%;

    &:not(:last-child) {
      margin-right: 5.83vw;
    }
  }

  &__screen {
    margin-bottom: 2.92vw;
    max-width: 15.31vw;
    width: 100%;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__descr {
    padding-left: 0.83vw;
  }

  &__title {
    margin-bottom: 2.29vw;
    font-size: 1.35vw;
    font-weight: 500;
  }

  &__text {
    font-size: 0.94vw;
    color: var(--color-gray);
    line-height: 1.45em;
  }
}
