.reality {
  position: relative;
  top: -5vw;
  //padding: 0 0 11.72vw;

  &__text {
    font-weight: 500;
    font-size: 1.25vw;
    letter-spacing: -0.02em;
    line-height: 1.38em;
    color: #fff;
    //max-width: 30.47vw;
    width: 100%;
    margin: 0 auto 12vw;
    text-align: center;

    &_small {
      font-size: 1.25vw;
      letter-spacing: -0.02em;
      line-height: 1.4em;
      //max-width: 24.48vw;
      width: 100%;
      margin-bottom: 6vw;
    }
  }

  &__screens {
    display: flex;
    justify-content: center;
    margin: 0 0 6.08vw;
    position: relative;
    z-index: 2;
  }

  &__screen {
    max-width: 15.31vw;
    width: 100%;
    position: relative;

    &:not(:last-child) {
      margin-right: 2.19vw;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    &_1 {
      //left: 17.5vw;
      transform: translateX(17.5vw);
    }

    &_2 {
      z-index: 5;
    }

    &_3 {
      transform: translateX(-17.5vw);
      //right: 17.5vw;
    }
  }

  &__decor {
    width: 8.28vw;
    height: 8.28vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

}
