.sound {
  margin-bottom: 5vw;
  position: relative;
  padding-top: 12vw;

  &__decor {
    position: absolute;
    width: 67.34vw;
    left: 50%;
    transform: translateX(-50%);
    top: 0;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__title {
    margin-bottom: -2.45vw;
    line-height: 1.6;
  }

  &__text {
    text-align: center;
    color: #fff;
    font-size: 1.25vw;
    line-height: 1.6em;
    width: 100%;
    margin: 0 auto 6.4vw;
  }

  &__coop {
    width: fit-content;
    padding: 0.26vw 0.99vw 0.21vw 0.99vw;
    font-size: 0.73vw;
    font-weight: 600;
    color: #6E6E6E;
    border: 0.05vw solid #6E6E6E;
    border-radius: 0.78vw;
    margin: 0 auto;
    text-transform: uppercase;
  }
}

.sound-season {
  //max-width: 11.20vw;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &:not(:last-child) {

    position: relative;
  }

  &__line {
    height: 1.93vw;
    width: 0.05vw;
    border-left: 0.05vw dashed rgba(255, 255, 255, .6);
    margin: 1.15vw auto;
  }

  &__count {
    color: var(--color-gray);
    font-size: 0.73vw;
    font-weight: 600;
    margin-bottom: 1.15vw;
  }

  &__author {
    width: 11.20vw;
    heihgt: 11.20vw;
    padding: 1.41vw 2.60vw 2.08vw 2.60vw;
    border-radius: 1.41vw;
    background: #141414;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &_unknown {
      width: 9.06vw;
      height: 9.06vw;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: -8%;
        left: -25%;
        width: 150%;
        height: 150%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0, #000 100%);
      }

      .sound-season__photo {
        width: 3.44vw;
        height: 3.44vw;
      }
    }
  }

  &__photo {
    width: 5.73vw;
    height: 5.73vw;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 0.78vw;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__name {
    text-align: center;
    font-size: 0.94vw;
    font-weight: 600;
    letter-spacing: 0.01em;
  }
}
