.step {
  padding-bottom: 41.67vw;

  @media(max-width:$md5) {
    padding-bottom: 59.67vw;
  }

  &__wrapper {
    position: relative;
    padding-top: 4.2vw;
    display: flex;
    margin-bottom: 21.88vw;

    @media(max-width:$md4) {
      display: block;

      .line {
        display: none;
      }
    }

    @media(max-width:$md5) {
      margin-bottom: 52vw;
    }
  }

  &__descr {
    text-transform: uppercase;

    @media(max-width:$md4) {
      position: relative;
      padding-bottom: 3.91vw;
      margin-bottom: 6.51vw;
    }

    @media(max-width:$md5) {
      padding-bottom: 5.91vw;
      margin-bottom: 11.7vw;
    }

    .line {
      display: none;

      @media(max-width:$md4) {
        display: block;
      }
    }
  }

  &__title {
    width: 24.48vw;
    font-size: 3.13vw;
    line-height: 1em;
    font-weight: 600;
    margin-bottom: 1.56vw;

    @media(max-width:$md4) {
      font-size: 5.21vw;
      width: 30vw;
      position: relative;
    }

    @media(max-width:$md5) {
      font-size: 9.39vw;
      width: 55vw;
    }
  }

  &__text {
    width: 18.49vw;
    color: #5F5F5F;
    font-size: 0.73vw;
    line-height: 1.8em;

    @media(max-width:$md3) {
      font-size: 1.41vw;
      width: 35.49vw;
    }

    @media(max-width:$md4) {
      font-size: 1.82vw;
    }

    @media(max-width:$md5) {
      font-size: 3.29vw;
      margin-top: 19.48vw;
      width: 84.04vw;
    }
  }

  &__list {
    columns: 2;
    text-transform: uppercase;
    // width: 948px;
    padding-right: 1.82vw;
    font-size: 0.83vw;
    line-height: 1.68em;

    @media(max-width:$md3) {
      font-size: 1.41vw;
    }

    @media(max-width:$md4) {
      font-size: 1.82vw;
      padding-right: 0;
    }

    @media(max-width:$md5) {
      columns: 1;
      font-size: 3.29vw;
    }
  }

  &__list-elem {
    position: relative;
    width: 14.5vw;
    min-height: 5.73vw;
    margin-bottom: 4.58vw;

    @media(max-width:$md3) {
      width: 24vw;
      padding-right: 3vw;
    }

    @media(max-width:$md4) {
      width: 100%;
      padding-right: 6vw;
    }

    @media(max-width:$md5) {
      padding-right: 0;
      width: 76vw;

      &:not(:last-child) {
        margin-bottom: 14vw;
      }
    }

    &::before {
      content: attr(data-count);
      border: 0.01vw solid #555555;
      color: #555555;
      font-weight: 700;
      font-size: 0.63vw;
      line-height: 1.3em;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: -2.60vw;
      width: 1.20vw;
      height: 1.20vw;

      @media(max-width:$md3) {
        font-size: 1.21vw;
        width: 2.32vw;
        height: 2.32vw;
        line-height: 0.9em;
        left: -3.02vw;
      }

      @media(max-width:$md5) {
        position: relative;
        right: 0;
        top: 0;
        left: 0;
        width: 5.40vw;
        height: 5.40vw;
        font-size: 2.82vw;
        margin-bottom: 4vw;
      }
    }
  }
}

.main-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;


  &__col {}
}
