.tokenomics {
  padding: 21.35vw 0px 10vw;
  position: relative;

  &__title {
    font-size: 3.13vw;
  }
&__wrapper{
  position: relative;
  z-index: 2;
}
  &__inner {
    padding-top: 3.65vw;
    position: relative;
  }

  &__earth {
    margin: 19.11vw 0 -20.47vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__text {
    font-size: 2.60vw;
    line-height: 1.2em;
    letter-spacing: -0.01em;
    max-width: 40.99vw;
    width: 100%;

    p {
      &:not(:last-child) {
        margin-bottom: 3.23vw;
      }
    }
  }
}
