.no-webp {
  .omi-card_custom {
    background-image: url(../img/OMI/card_1_bg.png);
  }

  .omi-card_rarity {
    background-image: url(../img/OMI/card_2_bg.png);
  }
  .journey-card_3{
    background-image: url('../img/journey/card_3.png');
  }
}

.webp {
  .omi-card_custom {
    background-image: url(../img/OMI/card_1_bg.webp);
  }

  .omi-card_rarity {
    background-image: url(../img/OMI/card_2_bg.webp);
  }
  .journey-card_3{
    background-image: url('../img/journey/card_3.webp');
  }
}
