<section class="adventure">
  <div class="container">
    <div class="adventure__content">
      <h2 class="main__title adventure__title">
        <div class="title-row">
          <span class="text-line color_gray" data-delay="0.1">Start</span>
        </div>
        <div class="title-row">
          <span class="text-line" data-delay="0.2">
            <span class="text-desktop">your&#160;adventure</span>
            <span class="text-mob">your</span>
          </span>
        </div>
        <div class="title-row text-mob">
          <span class="text-line" data-delay="0.3">adventure</span>
        </div>
      </h2>
      <div class="main__text  adventure__text">
        <div class="text-line" data-delay="0.3">
          <span class="text-desktop">Take three simple steps and start exploring</span>
          <span class="text-mob">Take three simple steps and start</span>
        </div>
        <div class="text-line" data-delay="0.4">
          <span class="text-desktop">the ONMI world</span>
          <span class="text-mob">exploring the ONMI world</span>
        </div>
      </div>
    </div>
  </div>
  <div class="adventure__slider">
    <div class="adventure__slider-phone">
      <div class="adventure__phone-img" data-effect="opacity" data-duration="2">
        <noscript data-webp><img class="adventure__phone-phone" src="./img/adventure_phone.png"
                                 alt="Phone">
        </noscript>
        <noscript data-webp><img class="adventure__phone-hand" src="./img/hand.png" alt="Phone in hand"/>
        </noscript>

      </div>
      <div class="adventure__phone swiper" data-effect="opacity">
        <div class="swiper-wrapper">
          <div class="adventure__phone-slide swiper-slide">
            <noscript data-webp><img src="./img/slider_phone/screen_1.png" loading="lazy" alt="slide screen 1">
            </noscript>
            <!-- <img src="./img/slider_phone/screen_1.png" > -->
          </div>
          <div class="adventure__phone-slide swiper-slide">
            <noscript data-webp><img src="./img/slider_phone/screen_2.png" loading="lazy" alt="slide screen 2">
            </noscript>
            <!-- <img src="./img/slider_phone/screen_2.jpg" alt="s-type slide"> -->
          </div>
          <div class="adventure__phone-slide adventure__phone-slide_video swiper-slide">
            <video id="video_phone" src="./video/slider_video.mp4" type="video/mp4" autoplay="true"
                   muted="muted" loop playsinline/>
            <!--         <noscript data-webp><img src="./img/slider_phone/screen_2.png"  alt="slide screen 2">
                     </noscript>-->
            <!-- <img src="./img/slider_phone/screen_1.png" alt="s-type slide"> -->
          </div>
        </div>
      </div>
    </div>
    <div class="adventure__slider-cards cards-slider animate" data-effect="opacity" data-duration="1">
      <div class="cards-slider__slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide cards-slider__slide">
            <div class="cards-slider__phone">
              <noscript data-webp="">
                <img src="./img/slider_phone/phone_slide_1.png" alt="phone_slide">
              </noscript>
            </div>
            <div class="cards-slider__block">
              <div class="cards-slider__descr">Choose your character: their nature will determine how they play.</div>
              <div class="cards-slider__num">01</div>
            </div>
          </div>
          <div class="swiper-slide cards-slider__slide">
            <div class="cards-slider__phone">
              <noscript data-webp="">
                <img src="./img/slider_phone/phone_slide_2.png" loading="lazy" alt="phone_slide">
              </noscript>
            </div>
            <div class="cards-slider__block">
              <div class="cards-slider__descr">Explore the world via the map: every object can be a discovery or a
                challenge.
              </div>
              <div class="cards-slider__num">02</div>
            </div>
          </div>
          <div class="swiper-slide cards-slider__slide">
            <div class="cards-slider__phone">
             <!-- <noscript data-webp><img class="adventure__phone-phone" src="./img/adventure_phone.png"
                                       alt="Phone">
              </noscript>-->
              <video src="./video/phone_mob.mp4" type="video/mp4" autoplay="true"
                     muted="muted" playsinline loop/>
            </div>
            <div class="cards-slider__block">
              <div class="cards-slider__descr">Activate your camera: interact with items in Reality 2.0 and earn
                rewards.
              </div>
              <div class="cards-slider__num">03</div>
            </div>
          </div>
        </div>
        <div class="cards-slider__btn swiper-btn swiper-button-prev animate" data-effect="opacity">
          <img src="img/icons/arrow_slider.svg" alt="arrow prev">
        </div>
        <div class="cards-slider__btn swiper-btn  swiper-button-next animate" data-effect="opacity"
             data-delay="0.1">
          <img src="img/icons/arrow_slider.svg" alt="arrow next">
        </div>
      </div>
    </div>
  </div>
</section>
