<section class="adventure" data-scroll-section>
  <div class="container">
    <div class="adventure__content">
      <h2 class="adventure__title animate animate-text" data-scroll data-scroll-speed="-1">
        <div class="adventure__title-row adventure__title-row_1">START</div>
        <div class="adventure__title-row adventure__title-row_2">YOUR</div>
        <div class="adventure__title-row adventure__title-row_3">ADVENTURE</div>
      </h2>

      <div class=" adventure__text" data-scroll data-scroll-speed="2">
        Take four simple steps and start exploring the ONMI world
      </div>
    </div>
  </div>
  <div class="adventure__slider">
    <div class="adventure__slider-phone">
      <div class="adventure__phone-img">
        <img src="./img/phone_hand.png" alt="Телефон в руке" />
      </div>
      <div class="adventure__phone swiper animate">
        <div class="swiper-wrapper">
          <div class="adventure__phone-slide swiper-slide">
            <img src="./img/slider_phone/screen_1.png" class="animate" data-effect="on-screen" alt="s-type slide">
          </div>
          <div class="adventure__phone-slide swiper-slide">
            <img src="./img/slider_phone/screen_2.jpg" alt="s-type slide">
          </div>
          <div class="adventure__phone-slide swiper-slide">
            <img src="./img/slider_phone/screen_1.png" alt="s-type slide">
          </div>
        </div>
      </div>
    </div>
    <div class="adventure__slider-cards cards-slider ">
      <div class="cards-slider__slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide cards-slider__slide">
            <div class="cards-slider__descr">Choose an OMI character</div>
            <div class="cards-slider__num">01</div>
          </div>
          <div class="swiper-slide cards-slider__slide">
            <div class="cards-slider__descr">Walk around, collect mysteries and get tokens</div>
            <div class="cards-slider__num">02</div>
          </div>
          <div class="swiper-slide cards-slider__slide">
            <div class="cards-slider__descr">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
            <div class="cards-slider__num">03</div>
          </div>
        </div>
        <div class="cards-slider__btn swiper-button-prev">
          <img src="img/icons/arrow_slider.svg" alt="arrow prev">
        </div>
        <div class="cards-slider__btn cards-slider__btn_next swiper-button-next">
          <img src="img/icons/arrow_slider.svg" alt="arrow next">
        </div>
      </div>
    </div>
  </div>
</section>
