<section class="adventure">
  <div class="container">
    <div class="adventure__content">
      <h2 class="main__title adventure__title" data-lag="0.1">
        <div class="adventure__title-row hidden">
          <span class="text-line">Start</span>
        </div>
        <div class="adventure__title-row hidden">
          <span class="color_gray text-line">your&#160;adventure</span>
        </div>
      </h2>
      <div class="main__text  adventure__text" data-lag="0.2">
        <div class="text-line" data-delay="0.3">Take four simple steps and start exploring</div>
        <div class="text-line" data-delay="0.4">the ONMI world</div>
      </div>
    </div>
  </div>
  <div class="adventure__slider">
    <div class="adventure__slider-phone">
      <div class="adventure__phone-img  animate" data-effect="fade-in" data-duration="2">
        <noscript data-webp><img class="adventure__phone-phone" src="./img/adventure_phone.png" alt="Phone">
        </noscript>
        <noscript data-webp><img class="adventure__phone-hand" src="./img/hand.png" alt="Phone in hand"/>
        </noscript>

      </div>
      <div class="adventure__phone swiper animate" data-effect="opacity">
        <div class="swiper-wrapper">
          <div class="adventure__phone-slide swiper-slide">
            <noscript data-webp><img src="./img/slider_phone/screen_1.png"></noscript>
            <!-- <img src="./img/slider_phone/screen_1.png" > -->
          </div>
          <div class="adventure__phone-slide swiper-slide">
            <noscript data-webp><img src="./img/slider_phone/screen_2.png"></noscript>
            <!-- <img src="./img/slider_phone/screen_2.jpg" alt="s-type slide"> -->
          </div>
          <div class="adventure__phone-slide swiper-slide">
            <noscript data-webp><img src="./img/slider_phone/screen_1.png"></noscript>
            <!-- <img src="./img/slider_phone/screen_1.png" alt="s-type slide"> -->
          </div>
          <div class="adventure__phone-slide swiper-slide">
            <noscript data-webp><img src="./img/slider_phone/screen_2.png"></noscript>
            <!-- <img src="./img/slider_phone/screen_1.png" alt="s-type slide"> -->
          </div>
          <div class="adventure__phone-slide swiper-slide">
            <noscript data-webp><img src="./img/slider_phone/screen_1.png"></noscript>
            <!-- <img src="./img/slider_phone/screen_2.jpg" alt="s-type slide"> -->
          </div>
        </div>
      </div>
    </div>
    <div class="adventure__slider-cards cards-slider animate" data-effect="opacity" data-duration="1">
      <div class="cards-slider__slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide cards-slider__slide">
            <div class="cards-slider__phone">
              <noscript data-webp="">
                <img src="./img/slider_phone/phone_slide_1.png" alt="phone_slide">
              </noscript>
            </div>
            <div class="cards-slider__block">
              <div class="cards-slider__descr">Choose an OMI character</div>
              <div class="cards-slider__num">01</div>
            </div>
          </div>
          <div class="swiper-slide cards-slider__slide">
            <div class="cards-slider__phone">
              <noscript data-webp="">
                <img src="./img/slider_phone/phone_slide_1.png" alt="phone_slide">
              </noscript>
            </div>
            <div class="cards-slider__block">
              <div class="cards-slider__descr">Walk around, collect mysteries and get tokens</div>
              <div class="cards-slider__num">02</div>
            </div>
          </div>
          <div class="swiper-slide cards-slider__slide">
            <div class="cards-slider__phone">
              <noscript data-webp="">
                <img src="./img/slider_phone/phone_slide_1.png" alt="phone_slide">
              </noscript>
            </div>
            <div class="cards-slider__block">
              <div class="cards-slider__descr">Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </div>
              <div class="cards-slider__num">03</div>
            </div>
          </div>
          <div class="swiper-slide cards-slider__slide">
            <div class="cards-slider__phone">
              <noscript data-webp="">
                <img src="./img/slider_phone/phone_slide_1.png" alt="phone_slide">
              </noscript>
            </div>
            <div class="cards-slider__block">
              <div class="cards-slider__descr">Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </div>
              <div class="cards-slider__num">04</div>
            </div>
          </div>
          <div class="swiper-slide cards-slider__slide">
            <div class="cards-slider__phone">
              <noscript data-webp="">
                <img src="./img/slider_phone/phone_slide_1.png" alt="phone_slide">
              </noscript>
            </div>
            <div class="cards-slider__block">
              <div class="cards-slider__descr">Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </div>
              <div class="cards-slider__num">05</div>
            </div>
          </div>
        </div>
        <div class="cards-slider__btn swiper-btn swiper-button-prev animate" data-effect="opacity">
          <img src="img/icons/arrow_slider.svg" alt="arrow prev">
        </div>
        <div class="cards-slider__btn swiper-btn  swiper-button-next animate" data-effect="opacity"
             data-delay="0.1">
          <img src="img/icons/arrow_slider.svg" alt="arrow next">
        </div>
      </div>
    </div>
  </div>
</section>
