<section class="cards">
  <div class="container">
    <div class="cards__wrapper">
      <div class="cards__col">
        <div data-effect="opacity" data-duration="0.9" class="card card_1">
          <div class="card__front">
            <div class="card__title">Choose the right subculture</div>
            <div class="card__text">To determine your style of play</div>
            <div class="card__front-img">
              <div class="card__front-aura">
                <img src="img/icons/circle-aura.svg" alt="aura"/>
              </div>
              <noscript data-webp>
                <img src="img/OMI/card_2_bg.png" alt="ONMI"/>
              </noscript>
            </div>
          </div>

        </div>
        <div data-effect="opacity" data-duration="0.9" data-delay="0.1" class="card card_2 ">
          <div class="card__front card__front_bottom">
            <div class="card__title">Raise your attributes</div>
            <div class="card__text">And turn your skill into income</div>

            <div class="card__front-img" data-speed="0.9">
              <noscript data-webp>
                <img src="img/OMI/card_bg_phone.png" alt="ONMI"/>
              </noscript>
            </div>

          </div>

        </div>
      </div>
      <div class="cards__col">
        <div data-effect="opacity" data-duration="0.9" data-delay="0.2" class="card card_3">
          <div class="card__front ">
            <div class="card__title">Сustomize your look</div>
            <div class="card__text">An equipped character gets more abilities</div>
            <div class="card__front-img">
              <noscript data-webp="">
                <img src="img/customize_bg.png" alt="nft"/>
              </noscript>
            </div>
          </div>


        </div>
        <div data-effect="opacity" data-duration="0.9" data-delay="0.3" class="card card_4">
          <div class="card__front card__front_centered">
            <div class="card__front-img card__front-img_bg">
              <img class="" data-speed="1.1" src="./img/OMI/card_bg_map.jpg" alt="map">
            </div>
            <div class="card__title ">Discover new places in your city</div>
          </div>

        </div>
      </div>
    </div>
    <div class="cards__omies omies">
      <div class="omies__circles">
        <div class="omies__circle omies__circle_1">
          <noscript data-webp="">
            <img src="img/OMI/OMI-circel_1.png" alt="OMI">
          </noscript>
        </div>
        <div class="omies__circle omies__circle_2">
          <noscript data-webp="">
            <img src="img/OMI/OMI-circel_2.png" alt="OMI">
          </noscript>
        </div>
        <div class="omies__circle omies__circle_3">
          <noscript data-webp="">
            <img src="img/OMI/OMI-circel_3.png" alt="OMI">
          </noscript>
        </div>
      </div>
      <div class="cards__omies-text color_gray">
        <div class="text-line" data-delay="0.1">In today's reality, OMI becomes the first</div>
        <div class="text-line" data-delay="0.2">digital ID, giving access to off-line values,</div>
        <div class="text-line" data-delay="0.3">confirming status.</div>
      </div>
    </div>
  </div>
</section>
