<section class="cards-token">
  <div class="container">
    <div class="cards-token__wrapper">
      <div class="cards-token__col">
        <div class="card-token card-token_1" data-effect="opacity" >
          <div class="card-token__icon" data-effect="opacity" data-delay="0.1" >
            <img src="img/icons/icon_token_1.svg" alt="ONM">
          </div>
          <div class="card-token__content">
            <div class="card-token__title hidden">
              <span class="text-line" data-delay="0.1">ONM</span>
            </div>
            <div class="card-token__text">
              <p data-effect="fade-down" data-delay="0.1">ONMs can be obtained from ORBs, Arens, Taxes or by winning Hunger Games.
              </p>
              <p data-effect="fade-down" data-delay="0.2">Useful orb guarantee a 100%
                chance of getting 0.1 ONM tokens. ONM can be obtained from ORBs, Arenas, taxes, or by winning Hunger
                Games. Useful spheres guarantee a 100% chance of getting 0.1 ONM tokens.</p>
            </div>
          </div>
        </div>
        <div class="card-token card-token_2" data-effect="opacity" data-delay="0.1">
          <div class="card-token__icon" data-effect="opacity" data-delay="0.1">
            <img src="img/icons/icon_token_3.svg" alt="Hearts">
          </div>
          <div class="card-token__content">
            <div class="card-token__title hidden">
              <span class="text-line" data-delay="0.1">Hearts</span>
            </div>
            <div class="card-token__text">
              <p data-effect="fade-down" data-delay="0.1">ONMI Heart pieces are an integral component of the ONMI world.

              </p>
              <p data-effect="fade-down" data-delay="0.2">Each ONMI Heart is priced at $1 USDT, and their limited availability makes them highly coveted by
                collectors and fashion enthusiasts. This gives players the opportunity to create exclusive and
                personalized collections in-game.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="cards-token__col">
        <div class="card-token card-token_3" data-effect="opacity" data-delay="0.2">
          <div class="card-token__icon" data-effect="opacity" data-delay="0.3" >
            <img src="img/icons/icon_token_2.svg" alt="Materials ">
          </div>
          <div class="card-token__content">
            <div class="card-token__title hidden">
              <span class="text-line" data-delay="0.1">Materials</span>
            </div>
            <div class="card-token__text">
              <p data-effect="fade-down" data-delay="0.1">As in the real world, you need resources to create or develop something. ONMI has a total of
                1,000,000,000 materials, which are unevenly distributed and mined.
              </p>
              <p data-effect="fade-down" data-delay="0.2">
                A simple rule of thumb: The more materials mined from the ground, the lower the chance of finding new
                ones!
              </p>
            </div>
          </div>
        </div>
        <div class="card-token card-token_4" data-effect="opacity" data-delay="0.3">
          <div class="card-token__icon" data-effect="opacity" data-delay="0.4">
            <img src="img/icons/icon_token_4.svg" alt="NFTs">
          </div>
          <div class="card-token__content">
            <div class="card-token__title hidden">
              <span class="text-line" data-delay="0.1">NFTs</span>
            </div>
            <div class="card-token__text">
              <p data-effect="fade-down" data-delay="0.1">NFTs are the primary means of creating and trading in-game items that can be used to improve player
                characters, collect or sell to other players.
              </p>
              <p data-effect="fade-down" data-delay="0.2">
                To create NFTs, players must complete a quest, collect the
                necessary materials and ONM tokens, and then mine the resulting NFTs on the blockchain.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
