<section class="cards-token">
  <div class="container">
    <div class="cards-token__wrapper">
      <div class="card-token card-token_1" data-effect="opacity">
        <div class="card-token__icon" data-effect="opacity" data-delay="0.1">
          <img src="img/icons/icon_token_1.svg" alt="ONM">
        </div>
        <div class="card-token__content">
          <div class="card-token__title hidden">
            <span class="text-line" data-delay="0.1">ONM</span>
          </div>

          <div class="card-token__text">
            <p data-effect="fade-down" data-delay="0.1">
              ONMs can be obtained from ORBs, Arens, Taxes, and winning the Hunger Games.
            </p>
            <p data-effect="fade-down" data-delay="0.2">
              Useful orbs ensure a 100% chance of receiving ONM tokens.
            </p>
          </div>
        </div>
      </div>
      <div class="card-token card-token_2" data-effect="opacity">
        <div class="card-token__icon" data-effect="opacity" data-delay="0.1">
          <img src="img/icons/icon_token_2.svg" alt="Materials ">
        </div>
        <div class="card-token__content">
          <div class="card-token__title hidden">
            <span class="text-line" data-delay="0.1">Materials</span>
          </div>
          <div class="card-token__text">
            <p data-effect="fade-down" data-delay="0.1">
              Like in the real world, you need resources to create or develop something. ONMI has a total
              of 1 billion
              materials, unevenly distributed and mined.
            </p>
            <p data-effect="fade-down" data-delay="0.2">
              A simple rule of thumb: The more materials mined from the ground, the lower the chance of
              finding new
              ones.
            </p>
          </div>
        </div>
      </div>
      <div class="card-token card-token_3" data-effect="opacity" data-delay="">
        <div class="card-token__icon" data-effect="opacity" data-delay="0.3">
          <img src="img/icons/icon_token_3.svg" alt="Emission">
        </div>
        <div class="card-token__content">
          <div class="card-token__title hidden">
            <span class="text-line" data-delay="0.1">Emission</span>
          </div>
          <div class="card-token__text">
            <p data-effect="fade-down" data-delay="0.1">The token issuance is proportional to the number of
              people on
              the planet. This is our philosophy, and we strive for everyone to participate in the ONMI
              project.
            </p>
          </div>
        </div>
      </div>
      <div class="card-token card-token_4" data-effect="opacity" data-delay="">
        <div class="card-token__icon" data-effect="opacity" data-delay="0.4">
          <img src="img/icons/icon_token_4.svg" alt="Blockchain">
        </div>
        <div class="card-token__content">
          <div class="card-token__title hidden">
            <span class="text-line" data-delay="0.1">Blockchain</span>
          </div>
          <div class="card-token__text">
            <p data-effect="fade-down" data-delay="0.1">
              We chose blockchain technology to ensure the security and transparency of the project, which
              has its own
              Token.
            </p>
            <p data-effect="fade-down" data-delay="0.2">
              For this reason, we decided to team up with Polygon, a company with similar goals of merging
              the digital
              and physical worlds.
            </p>
          </div>
        </div>
      </div>
      <div class="card-token card-token_5" data-effect="opacity" data-delay="">
        <div class="card-token__icon" data-effect="opacity" data-delay="0.3">
          <img src="img/icons/icon_token_5.svg" alt="Emission">
        </div>
        <div class="card-token__content">
          <div class="card-token__title hidden">
            <span class="text-line" data-delay="0.1">Hedging</span>
          </div>
          <div class="card-token__text">
            <p data-effect="fade-down" data-delay="0.1">TIn order to protect the token’s value over time, a portion of
              our treasury is kept in precious metals futures
            </p>
            <p>This will ensure that the ecosystem will endure even in times of financial turmoil</p>
          </div>
        </div>
      </div>
      <div class="card-token card-token_6" data-effect="opacity" data-delay="">
        <div class="card-token__icon" data-effect="opacity" data-delay="0.4">
          <img src="img/icons/icon_token_6.svg" alt="Blockchain">
        </div>
        <div class="card-token__content">
          <div class="card-token__title hidden">
            <span class="text-line" data-delay="0.1">Items</span>
          </div>
          <div class="card-token__text">
            <p data-effect="fade-down" data-delay="0.1">
              Dressing up integral to player progress and success: unique, limited clothing crafted from acquired
              materials.
            </p>
            <p data-effect="fade-down" data-delay="0.2">
              Strategic resource use vital for enhancing Omis, boosting chances of valuable material and token
              acquisition.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
