<section class="collection">
  <div class="collection__top">
    <h2 class="collection__title ">collections</h2>
    <div class="collection__pose" >
      <noscript data-webp><img src="img/collection_pose.png"></noscript>
      <!-- <img src="" alt="pose"> -->
    </div>
  </div>
  <div class="collection__descr">
    <h3 class="collection__subtitle" data-effect="opacity">NOT JUST ANY NFT</h3>
    <div class="collection__text" data-effect="opacity">
      <p>NFTs and NFT collections in OMNI are designed and created in partnership with brands, stars and leaders from
        the fashion, art and music industries.</p>
      <p>Collections are dedicated to special events, exhibitions and releases.</p>
      <p>By involving the right people and brands, each NFT and collection are coveted and limited assets, assuring a
        high price position and growth.</p>
    </div>
  </div>
</section>
