<section class="create-omi">
    <div class="container">
        <div class="create-omi__descr">
            <h2 class="main__title create-omi__title">
                <div class="create-omi__title-row hidden">
                    <span class="color_gray text-line text-desktop" data-delay="0.1">Create <span class="color_gray">unique</span> omi</span></span>
                    <span class="color_gray text-line text-mob" data-delay="0.1">Create </span>
                </div>
                <div class="create-omi__title-row hidden">
                    <span class="text-mob text-line" data-delay="0.2"><span class="color_gray">unique</span> omi</span>
                </div>
            </h2>

            <div class="main__text create-omi__text">
                <div class="text-line" data-delay="0.3">
                    <span class="text-desktop">OMI is the embodiment of your true self, a manifestation</span>
                    <span class="text-mob">OMI is the embodiment of your true self,</span>
                </div>
                <div class="text-line" data-delay="0.4">
                    <span class="text-desktop">of your deepest aspirations and the ability to change</span>
                    <span class="text-mob">a manifestation of your deepest aspirations</span>
                </div>
                <div class="text-line" data-delay="0.5">
                    <span class="text-desktop">appearances.</span>
                    <span class="text-mob">and the ability to change</span>
                </div>
                <div class="text-line text-mob" data-delay="0.6">
                    appearances.
                </div>
            </div>
        </div>
    </div>
    <div class="create-omi__marquue marquee3k marquee3k_mob" data-speedmarque="2">
        <div>
            <div class="create-omi__wrapper">
                <div class="create-omi__item">
                    <noscript data-webp><img src="img/OMI/1.jpg"  alt="OMI variable 1"></noscript>
                </div>
                <div class="create-omi__item">
                    <noscript data-webp><img src="img/OMI/2.jpg"  alt="OMI variable 2"></noscript>
                </div>
                <div class="create-omi__item">
                    <noscript data-webp><img src="img/OMI/3.jpg"  alt="OMI variable 3"></noscript>
                </div>
                <div class="create-omi__item">
                    <noscript data-webp><img src="img/OMI/4.jpg"  alt="OMI variable 4"></noscript>
                </div>
                <div class="create-omi__item">
                    <noscript data-webp><img src="img/OMI/5.jpg"  alt="OMI variable 5"></noscript>
                </div>
                <div class="create-omi__item">
                    <noscript data-webp><img src="img/OMI/6.jpg"  alt="OMI variable 6"></noscript>
                </div>
                <div class="create-omi__item">
                    <noscript data-webp><img src="img/OMI/7.jpg"  alt="OMI variable 7"></noscript>
                </div>
                <div class="create-omi__item">
                    <noscript data-webp><img src="img/OMI/8.jpg"  alt="OMI variable 8"></noscript>
                </div>
                <div class="create-omi__item">
                    <noscript data-webp><img src="img/OMI/9.jpg"  alt="OMI variable 9"></noscript>
                </div>
                <div class="create-omi__item">
                    <noscript data-webp><img src="img/OMI/10.jpg"  alt="OMI variable 10"></noscript>
                </div>
                <div class="create-omi__item">
                    <noscript data-webp><img src="img/OMI/11.jpg"  alt="OMI variable 11"></noscript>
                </div>
                <div class="create-omi__item">
                    <noscript data-webp><img src="img/OMI/12.png"  alt="OMI variable 12"></noscript>
                </div>
                <div class="create-omi__item">
                    <noscript data-webp><img src="img/OMI/13.png"  alt="OMI variable 13"></noscript>
                </div>
                <div class="create-omi__item">
                    <noscript data-webp><img src="img/OMI/14.png"  alt="OMI variable 14"></noscript>
                </div>
                <div class="create-omi__item create-omi__item_15">
                    <noscript data-webp><img src="img/OMI/15.png"  alt="OMI variable 15"></noscript>
                </div>
                <div class="create-omi__item">
                    <noscript data-webp><img src="img/OMI/16.png"  alt="OMI variable 16"></noscript>
                </div>
            </div>
        </div>
    </div>
</section>
