<section class="create-omi">
    <div class="container">
        <div class="create-omi__descr">
            <h2 class="main__title create-omi__title" data-lag="0.1">
                <div class="create-omi__title-row hidden">
                    <span class="color_gray text-line" data-delay="0.1">Create</span>
                </div>
                <div class="create-omi__title-row hidden">
                    <span class="text-line" data-delay="0.2"><span class="color_gray">unique</span> omi</span>
                </div>
            </h2>

            <div class="main__text create-omi__text" data-lag="0.2">
                <div class="text-line" data-delay="0.3">
                    OMI is your incarnation in ONMI. You can blur the lines between
                </div>
                <div class="text-line" data-delay="0.4">
                    the real and the virtual with it.
                </div>
            </div>
        </div>
    </div>
    <div class="create-omi__marquue marquee3k" data-speedmarque="2">
        <div>
            <div class="create-omi__wrapper">
                <div class="create-omi__item">
                    <!-- <img src="img/OMI/1.jpg" alt="OMI variable 1"> -->
                    <noscript data-webp><img src="img/OMI/1.jpg"></noscript>
                </div>
                <div class="create-omi__item">
                    <!-- <img src="img/OMI/2.jpg" alt="OMI variable 2"> -->
                    <noscript data-webp><img src="img/OMI/2.jpg"></noscript>
                </div>
                <div class="create-omi__item">
                    <!-- <img src="img/OMI/3.jpg" alt="OMI variable 3"> -->
                    <noscript data-webp><img src="img/OMI/3.jpg"></noscript>
                </div>
                <div class="create-omi__item">
                    <!-- <img src="img/OMI/4.jpg" alt="OMI variable 4"> -->
                    <noscript data-webp><img src="img/OMI/4.jpg"></noscript>
                </div>
                <div class="create-omi__item">
                    <!-- <img src="img/OMI/5.jpg" alt="OMI variable 5"> -->
                    <noscript data-webp><img src="img/OMI/5.jpg"></noscript>
                </div>
                <div class="create-omi__item">
                    <!-- <img src="img/OMI/6.jpg" alt="OMI variable 6"> -->
                    <noscript data-webp><img src="img/OMI/6.jpg"></noscript>
                </div>
                <div class="create-omi__item">
                    <!-- <img src="img/OMI/7.jpg" alt="OMI variable 7"> -->
                    <noscript data-webp><img src="img/OMI/7.jpg"></noscript>
                </div>
                <div class="create-omi__item">
                    <!-- <img src="img/OMI/8.jpg" alt="OMI variable 8"> -->
                    <noscript data-webp><img src="img/OMI/8.jpg"></noscript>
                </div>
                <div class="create-omi__item">
                    <!-- <img src="img/OMI/9.jpg" alt="OMI variable 9"> -->
                    <noscript data-webp><img src="img/OMI/9.jpg"></noscript>
                </div>
                <div class="create-omi__item">
                    <!-- <img src="img/OMI/10.jpg" alt="OMI variable 10"> -->
                    <noscript data-webp><img src="img/OMI/10.jpg"></noscript>
                </div>
                <div class="create-omi__item">
                    <!-- <img src="img/OMI/11.jpg" alt="OMI variable 11"> -->
                    <noscript data-webp><img src="img/OMI/11.jpg"></noscript>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="container">
      <div class="create-omi__cards">
        <div class="create-omi__cards-wrapper">
          <div class="create-omi__card omi-card omi-card_custom animate" data-effect="fade-in">
            <h4 class="omi-card__title">Customize OMI look</h4>
            <div class="omi-card__text">
              <p>ORBS — are secret AR-objects in which rewards are hidden</p>
            </div>
          </div>
          <div class="create-omi__card omi-card omi-card_points animate" data-effect="fade-in" data-delay="0.2">
            <div id="unallocated-points" class="omi-card__unallocated-points">
              <span id="score" class="unallocated-points__value">+2,1</span>
            </div>
            <h4 class="omi-card__title">Upgrade OMI points</h4>
            <div class="omi-card__text">
              <p>ORBS — are secret AR-objects in which rewards are hidden</p>
            </div>
            <div class="omi-card__handle">
              <div class="omi-card__row">
                <div class="omi-card__label">
                  <div class="omi-card__label-icon">
                    <img src="img/icons/power.svg" alt="Power">
                  </div>
                  <div class="omi-card__label-text">Power</div>
                </div>
                <div class="omi-card__point">
                  <div class="omi-card__point-btn btn-minus" data-stat="power">-</div>
                  <div id="power" class="omi-card__point-value testingId">12.0</div>
                  <div class="omi-card__point-btn btn-plus" data-stat="power">+</div>
                </div>
              </div>
              <div class="omi-card__row">
                <div class="omi-card__label">
                  <div class="omi-card__label-icon">
                    <img src="img/icons/energy.svg" alt="Energy">
                  </div>
                  <div class="omi-card__label-text">Energy</div>
                </div>
                <div class="omi-card__point">
                  <div class="omi-card__point-btn btn-minus" data-stat="energy">-</div>
                  <div id="energy" class="omi-card__point-value">12.0</div>
                  <div class="omi-card__point-btn btn-plus" data-stat="energy">+</div>
                </div>
              </div>
              <div class="omi-card__row">
                <div class="omi-card__label">
                  <div class="omi-card__label-icon">
                    <img src="img/icons/luck.svg" alt="Luck">
                  </div>
                  <div class="omi-card__label-text">Luck</div>
                </div>
                <div class="omi-card__point">
                  <div class="omi-card__point-btn btn-minus" data-stat="luck">-</div>
                  <div id="luck" class="omi-card__point-value">12.0</div>
                  <div class="omi-card__point-btn btn-plus" data-stat="luck">+</div>
                </div>
              </div>
              <div class="omi-card__total">
                <div id="summ" class="omi-card__total-value">$56</div>
                <div class="omi-card__total-descr">Your Daily Earn</div>
              </div>
            </div>
          </div>
          <div class="create-omi__card omi-card omi-card_rarity animate" data-effect="fade-in" data-delay="0.4">
            <h4 class="omi-card__title">Unlock a new OMI rarity</h4>
            <div class="omi-card__text">
              <p>ORBS — are secret AR-objects in which rewards are hidden</p>
            </div>
          </div>
        </div>
      </div>
    </div>-->
</section>
