<section class="culture">
  <div class="container">
    <div class="culture__hero">
      <h2 class="culture__title">
        <div class="title-row color_gray">
          <span class="text-line" data-delay="0.1">
             onmi
          </span>
        </div>
        <div class="title-row color_gray">
          <span class="text-line" data-delay="0.2">
            culture
          </span>
        </div>
        <div class="title-row color_gray">
          <span class="text-line" data-delay="0.3">
            is your
          </span>
        </div>
        <div class="title-row ">
          <span class="text-line" data-delay="0.4">
            new social
          </span>
        </div>
        <div class="title-row ">
          <span class="text-line" data-delay="0.5">
            flow
          </span>
        </div>
      </h2>
      <div class="culture__pose">
        <noscript data-webp="">
          <img src="./img/culture_pose.png" loading="lazy" alt="culture ONMI">
        </noscript>
      </div>
    </div>
  </div>
  <div class="culture__events">
    <div class="culture-event">
      <div class="line line_top"></div>
      <div class="culture-event__wrapper main-wrapper">
        <div class="main-wrapper__col">
          <div class="culture-event__left">
            <div class="culture-event__title text-line" data-delay="0.1">Fashion</div>
            <div class="culture-event__text">
              <p data-effect="opacity" data-delay="0.1">Behind every fashion brand is a story that shapes
                its value over
                time.</p>
              <p data-effect="opacity" data-delay="0.2">The time has come for digital to become a new
                value for fashion,
                a new stage of development.</p>
              <p data-effect="opacity" data-delay="0.3">At ONMI, the most daring and progressive brands
                share their
                collections, ushering a new digital fashion age.</p>
            </div>
          </div>
        </div>
        <div class="main-wrapper__col">
          <div class="culture-event__partners">
            <div class="culture-event__partners-label">Partner list:</div>
            <div class="culture-event__partners-items">
              <div class="culture-event__circle culture-event__circle_soon" data-effect="opacity"
                   data-delay="0.1">
                <div class="culture-event__circle_bg">
                  <noscript data-webp="">
                    <img src="./img/culture/soon_bg_2.png" alt="soon_bg">
                  </noscript>
                </div>
                <div class="culture-event__circle-soon">Soon</div>
              </div>
              <div class="culture-event__circle culture-event__circle_soon" data-effect="opacity"
                   data-delay="0.2">
                <div class="culture-event__circle_bg">
                  <noscript data-webp="">
                    <img src="./img/culture/soon_bg.png" loading="lazy" alt="soon_bg">
                  </noscript>
                </div>
                <div class="culture-event__circle-soon">Soon</div>
              </div>
              <div class="culture-event__circle culture-event__circle_soon" data-effect="opacity"
                   data-delay="0.3">
                <div class="culture-event__circle_bg">
                  <noscript data-webp="">
                    <img src="./img/culture/soon_bg_2.png" loading="lazy" alt="soon_bg">
                  </noscript>
                </div>
                <div class="culture-event__circle-soon">Soon</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="culture-event">
      <div class="line line_top"></div>
      <div class="culture-event__wrapper main-wrapper">
        <div class="main-wrapper__col">
          <div class="culture-event__left">
            <div class="culture-event__title text-line" data-delay="0.1">Music</div>
            <div class="culture-event__text">
              <p data-effect="opacity" data-delay="0.1">Onmi will partner and help huge festivals with
                AR-based
                navigation, decorations, and social tags for participants.
              </p>
            </div>
          </div>
        </div>
        <div class="main-wrapper__col">
          <div class="culture-event__partners">
            <div class="culture-event__partners-label">Partner list:</div>
            <div class="culture-event__partners-items">
              <div class="culture-event__circle" data-effect="opacity" data-delay="0.1">
                <div class="culture-event__circle_bg">
                  <noscript data-webp="">
                    <img src="./img/culture/exit_bg.png" alt="exit_bg">
                  </noscript>
                </div>
                <div class="culture-event__circle-name">
                  <img src="./img/culture/Exit_logo.svg" loading="lazy" alt="Exit">
                </div>
              </div>
              <div class="culture-event__circle culture-event__circle_soon" data-effect="opacity"
                   data-delay="0.2">
                <div class="culture-event__circle_bg">
                  <noscript data-webp="">
                    <img src="./img/culture/soon_bg_3.png" loading="lazy" alt="soon_bg">
                  </noscript>
                </div>
                <div class="culture-event__circle-soon">Soon</div>
              </div>
              <div class="culture-event__circle culture-event__circle_soon" data-effect="opacity"
                   data-delay="0.3">
                <div class="culture-event__circle_bg">
                  <noscript data-webp="">
                    <img src="./img/culture/soon_bg_4.png" loading="lazy" alt="soon_bg">
                  </noscript>
                </div>
                <div class="culture-event__circle-soon">Soon</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="culture-event">
      <div class="line line_top"></div>
      <div class="culture-event__wrapper main-wrapper">
        <div class="main-wrapper__col">
          <div class="culture-event__left">
            <div class="culture-event__title text-line" data-delay="0.1">Artist</div>
            <div class="culture-event__text">
              <p data-effect="opacity" data-delay="0.1">Onmi establishes an immersive connection between
                the artist and
                the listener, granting access to exclusive content. For example, the listener can see
                the city through
                artist’s eyes, get to know them personally, or even join them on stage.</p>
              <p data-effect="opacity" data-delay="0.2">Artists will also release limited edition
                digital-fashion
                collections on our creative platform.</p>
            </div>
          </div>
        </div>
        <div class="main-wrapper__col">
          <div class="culture-event__partners">
            <div class="culture-event__partners-label">Partner list:</div>
            <div class="culture-event__partners-items">
              <div class="culture-event__circle" data-effect="opacity" data-delay="0.1">
                <div class="culture-event__circle_bg culture-event__circle_nina">
                  <noscript data-webp="">
                    <img src="./img/culture/nina_bg.png" alt="nina_bg">
                  </noscript>
                </div>
                <div class="culture-event__circle-name culture-event__circle-name_nina">Nina Kraviz
                </div>
              </div>
              <div class="culture-event__circle culture-event__circle_soon" data-effect="opacity"
                   data-delay="0.2">
                <div class="culture-event__circle_bg">
                  <noscript data-webp="">
                    <img src="./img/culture/soon_bg_5.png" loading="lazy" alt="soon_bg">
                  </noscript>
                </div>
                <div class="culture-event__circle-soon">Soon</div>
              </div>
              <div class="culture-event__circle culture-event__circle_soon" data-effect="opacity"
                   data-delay="0.3">
                <div class="culture-event__circle_bg">
                  <noscript data-webp="">
                    <img src="./img/culture/soon_bg_6.png" loading="lazy" alt="soon_bg">
                  </noscript>
                </div>
                <div class="culture-event__circle-soon">Soon</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
