<section class="culture">
  <div class="container">
    <div class="culture__hero">
      <h2 class="culture__title">
        <div class="title-row">
          <span class="color_gray" data-effect="line">Onmi culture</span>
        </div>
        <div class="title-row">
          <span data-effect="line"><span class="color_gray">is your</span> new social</span>
        </div>
        <div class="title-row">
          <span data-effect="line">
            flow
          </span>
        </div>
      </h2>
      <div class="culture__pose" data-lag="0.2">
        <noscript data-webp="">
          <img src="./img/be-part_pose_mob.png" alt="culture ONMI">
        </noscript>
      </div>
    </div>
  </div>
  <div class="culture-circles">
    <div class="culture-circle">
      <div class="culture-circle__content">
        <div class="culture-circle__title text-line" data-delay="0.1">Fashion</div>
        <div class="culture-circle__text">
          <p class="text-line" data-delay="0.1">Fashion is an integral part of ONMI culture.
          </p>
          <p class="text-line" data-delay="0.2">Apparel is how users express themselves, that's why it was important for us to integrate fashion brands
            into
            ONMI.</p>
        </div>
      </div>
    </div>
    <div class="culture-circle">
      <div class="culture-circle__content">
        <div class="culture-circle__title text-line" data-delay="0.1">Music</div>
        <div class="culture-circle__text">
          <p class="text-line" data-delay="0.1">By city map we don't just mean the streets. Reality 2.0 reaches the venues of major music festivals as
            well.
            It's a unique experience that only works for ONMI users.</p>
          <p class="text-line" data-delay="0.2">Imagine AR objects on a festival map that open up to you in real time and become part of your trip.</p>
        </div>
      </div>
    </div>
    <div class="culture-circle">
      <div class="culture-circle__content">
        <div class="culture-circle__title text-line" data-delay="0.1">Art</div>
        <div class="culture-circle__text">
          <p class="text-line" data-delay="0.1">ONMI is a spectacular platform for digital and AR art. We can't be responsible for the imagination of
            digital
            artists, but we can definitely guarantee a culture shock.
          </p>
          <p class="text-line" data-delay="0.2">No matter where you are, your itinerary will be
            unforgettable thanks to the open-air art objects.</p>
        </div>
      </div>
    </div>
  </div>
</section>
