<section class="description-reality" data-scroll-section>
  <div id="innerBg">
    <div class="description-reality__content" t>
      <div class="container">
        <div class="description-reality__inner">
          <div class="description-reality__text">
            <p class="text-animate">
              By the middle of the century, 68% of the world's population will live in cities. The general obsession of
              technology companies towards fully immersive metaverses seems premature to us.<p>
                Our mission is to create a <span class="bordered-text">reality 2.0</span> layer over real cities, an
                AR-universe that will expand
                the boundaries
                of reality and make it more functional and impressive.</p>
              <p>©2022</p>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="description-reality__gradient" data-scroll>
      <img src="./img/reality_bg.png" alt="bg-gradient">
    </div>
  </div>
</section>
