<section class="descover">
  <div class="container">
    <div class="descover__descr">
      <h2 class="descover__title main__title">
        <div class="descover__title-row descover__title-row_1">
          <span class="animate flip">Discover</span>
        </div>
        <div class="descover__title-row descover__title-row_2">
          <span class="animate flip">cities</span>
        </div>
        <div class="descover__title-row descover__title-row_3">
          <span class="animate flip">in a new</span>
        </div>
        <div class="descover__title-row descover__title-row_4">
          <span class="animate flip">way</span>
        </div>
      </h2>
      <div class="descover__text main__text" data-speed="1.2">Activate
        the route of the most interesting places: find out
        about the city
        and earn</div>
    </div>
  </div>
  <div class="descover__map">
    <div class="descover__map-point map-point descover__map-point_1">
      <div class="map-point__circle map-point__circle_cyan animate" data-effect="fade-down" data-delay="0.4">

      </div>
    </div>
    <div class="descover__map-point map-point descover__map-point_2">
      <div class="map-point__circle map-point__circle_cyan animate" data-effect="fade-down" data-delay="0.6">

      </div>
    </div>
    <div class="descover__map-point map-point descover__map-point_3">
      <div class="map-point__circle map-point__circle_red animate" data-effect="fade-down" data-delay="0.8">

      </div>
    </div>
    <div class="descover__map-img animate" data-effect="opacity">
      <picture>
        <source media="(max-width:768px)" srcset="./img/city_map_mob.png">
        <noscript data-webp><img src="img/city_map.png"></noscript>
      </picture>
    </div>
    <!-- <img src="" alt="Карта города" > -->
  </div>
  <div class="descover__journey">
    <div class="container">
      <h4 class="descover__journey-title">
        <div class="descover__journey-title__row">
          <span class="animate" data-effect="line" data-duration="1">ONMI.</span>
        </div>
        <div class="descover__journey-title__row">
          <span class="animate" data-effect="line" data-duration="1" data-delay="0.2">Always a journey.</span>
        </div>
      </h4>
      <div class="descover__journey-cards">
        <div class="journey-card animate" data-effect="fade-in">
          <h5 class="journey-card__title">ONMI explored cities and created routes with gameplay.</h5>
          <div class="journey-card__text">
            <p>Over time you will have access to several categories of routes: gastronomic, musical, art, architectures
              and secret places.</p>
          </div>
        </div>
        <div class="journey-card animate" data-effect="fade-in" data-delay="0.2">
          <h5 class="journey-card__title">Get to know the city and live its life as an individual.</h5>
          <div class="journey-card__text">
            <p>In the next version of Routes, you will be treated to routes from musical artists, filmmakers,
              architects, designers, and athletes.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
