<section class="find">
  <div class="container">
    <div class="find__descr">
      <h2 class="find__title main__title" data-lag="0.1">
        <div class="title-row">
                    <span class="text-line" data-delay="0.1">Explore <span
                        class="color_gray">cities in </span></span>
        </div>
        <div class="title-row">
          <span class="color_gray text-line" data-delay="0.2">a new way</span>
        </div>
      </h2>
      <div class="main__text find__text" data-lag="0.2">
        <div class="text-line" data-delay="0.3">
          Choose interesting routes in different cities of the world, pass the
        </div>
        <div class="text-line" data-delay="0.4">missions and find ORBs - AR objects that are important
        </div>
        <div class="text-line" data-delay="0.5">elements&#160;of ONMI ecosystem.</div>
      </div>
    </div>
  </div>
  <div class="find-map">
    <video id="video-scroll" class="find-map__video" src="./video/explore-map.webm" type="video/webm" muted></video>
    <div class="container">
      <div class="find-map__phone">
        <div data-effect="opacity" data-speed="1.1">
          <picture>
            <source media="(max-width:768px)" srcset="./img/explore_phone.png">
            <noscript data-webp><img src="./img/explore_phone.png"></noscript>
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
