<footer class="footer">
  <div class="line line_top"></div>
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__left">
        <div class="footer__logo">
          <img src="img/logo.svg" alt="ONMI">
        </div>
        <div class="footer__labels">
          <span>onmi®</span>
          <span>Play with the world.</span>
        </div>
      </div>
      <div class="footer__right">
        <div class="footer__socials">
          <a href="https://twitter.com/onmionmi" target="_blank" class="footer__socials-link">
            <svg width="29" height="34" class="x">
              <use xlink:href="./img/icons/icons.svg#x"></use>
            </svg>
          </a>
          <a href="https://instagram.com/onmi.world" target="_blank" class="footer__socials-link">
            <svg width="29" height="34" class="instagram">
              <use xlink:href="./img/icons/icons.svg#instagram"></use>
            </svg>
          </a>
          <a href="https://facebook.com/onmi.world" target="_blank" class="footer__socials-link">
            <svg width="29" height="34" class="telegram">
              <use xlink:href="./img/icons/icons.svg#telegram"></use>
            </svg>
          </a>
          <a href="https://medium.com/@onmi" target="_blank" class="footer__socials-link">
            <svg width="29" height="34" class="medium">
              <use xlink:href="./img/icons/icons.svg#medium"></use>
            </svg>
          </a>
         <!-- <a href="" target="_blank" class="footer__socials-link">
            <svg width="29" height="34" class="discord">
              <use xlink:href="./img/icons/icons.svg#discord"></use>
            </svg>
          </a>-->
        </div>
        <div class="footer__btns">
          <button type="button" data-open="#modal" class="footer__btn app-btn">
            <img src="img/icons/apple.svg" alt="" class="app-btn__icon">
            <span class="app-btn__text">App Store</span>
          </button>
          <button type="button" data-open="#modal" class="footer__btn app-btn">
            <img src="img/icons/googlePlay.svg" alt="" class="app-btn__icon">
            <span class="app-btn__text">Google Play</span>
          </button>
        </div>
      </div>
    </div>
    <div class="footer__text">
      <p>Welcome to onmi, the exciting XR app! Please read this carefully as it governs your use of the onmi platform.
        We value your privacy. Please read our privacy policy which details how we collect, use and protect your
        personal information. Before you start playing, read the detailed contents of the game rules, mechanics and
        terms of participation. We are committed to providing a fair and fun gaming environment for all of our players.
        You can choose from a variety of payment methods including Apple Pay, Google Pay, credit cards through the
        Xsolla platform, and cryptocurrencies through Coinbase. Please familiarize yourself with each method before
        making a payment. The use of cryptocurrencies can carry financial risks. Aware of possible risks and familiarize
        yourself. If you have any questions or suggestions, please contact us at: <a
            href="welcome@onmi.io."
            target="_blank">welcome@onmi.io.</a>
        onmi is intended for
        users who are at least 12 years old. Please do not use the platform if you are under 12 years old. Thank you for
        choosing onmi for entertainment and education! Last update date: August 10, 2023</p>
    </div>
    <div class="footer__copy">
      Copyright © 2023 onmi®. All rights reserved.
    </div>
  </div>
</footer>
