<footer class="footer">
  <div class="line line_top"></div>
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__left">
        <div class="footer__logo">
          <img src="img/logo.svg" alt="ONMI">
        </div>
        <div class="footer__labels">
          <span>onmi®</span>
          <span>Play with the world.</span>
        </div>
      </div>
      <div class="footer__right">
        <div class="footer__socials">
          <a href="" class="footer__socials-link">
            <svg width="29" height="34" class="x">
              <use xlink:href="./img/icons/icons.svg#x"></use>
            </svg>
          </a>
          <a href="" class="footer__socials-link">
            <svg width="29" height="34" class="instagram">
              <use xlink:href="./img/icons/icons.svg#instagram"></use>
            </svg>
          </a>
          <a href="" class="footer__socials-link">
            <svg width="29" height="34" class="telegram">
              <use xlink:href="./img/icons/icons.svg#telegram"></use>
            </svg>
          </a>
          <a href="" class="footer__socials-link">
            <svg width="29" height="34" class="medium">
              <use xlink:href="./img/icons/icons.svg#medium"></use>
            </svg>
          </a>
          <a href="" class="footer__socials-link">
            <svg width="29" height="34" class="discord">
              <use xlink:href="./img/icons/icons.svg#discord"></use>
            </svg>
          </a>
        </div>
        <div class="footer__btns">
          <button type="button" data-open="#modal" class="footer__btn app-btn">
            <img src="img/icons/apple.svg" alt="" class="app-btn__icon">
            <span class="app-btn__text">App Store</span>
          </button>
          <button type="button" data-open="#modal" class="footer__btn app-btn">
            <img src="img/icons/googlePlay.svg" alt="" class="app-btn__icon">
            <span class="app-btn__text">Google Play</span>
          </button>
        </div>
      </div>
    </div>
    <div class="footer__text">
      <p> Available to qualified customers and requires 24‑month installment loan when you select Citizens One or
        Apple Card Monthly Installments (ACMI) as payment type at checkout at Apple. Currently, carrier
        connection with
        AT&T, T-Mobile, or Verizon is required for all iPhone purchases made with ACMI from Apple Store
        locations only.
        STARTING AUGUST 15, 2023, CARRIER CONNECTION WITH AT&T, T-MOBILE, OR VERIZON IS REQUIRED FOR ALL IPHONE
        PURCHASES
        MADE WITH ACMI. Subject to credit approval and credit limit. Taxes and shipping are not included in ACMI
        and are
        subject to your card’s variable APR. Additional Apple Card Monthly Installments terms are in the Apple
        Card
        Customer Agreement. Additional iPhone Payments terms are here. ACMI is not available for purchases made
        online
        at
        special storefronts. The last month’s payment for each product will be the product’s purchase price,
        less all
        other payments at the monthly payment amount. ACMI FINANCING IS SUBJECT TO CHANGE AT ANY TIME FOR ANY
        REASON,
        INCLUDING BUT NOT LIMITED TO, INSTALLMENT TERM LENGTHS AND ELIGIBLE PRODUCTS. SEE
        support.apple.com/en-us/HT211204
        FOR INFORMATION ABOUT UPCOMING CHANGES TO ACMI:NBSP:FINANCING.
      </p>
      <p>
        * Pricing for iPhone 14 and iPhone 14 Plus includes a $30 connectivity discount that requires activation
        with
        AT&T, T‑Mobile, or Verizon. Pricing shown for iPhone 13 and iPhone 13 mini includes a $30 connectivity
        discount
        for Verizon customers that requires activation and would otherwise be $30 higher for all other
        customers.
      </p>
    </div>
    <div class="footer__copy">
      Copyright © 2023 onmi®. All rights reserved.
    </div>
  </div>
</footer>
