<header class="header animate">
    <div class="container">
        <div class="header__wrapper">
            <div class="header__left">
                <a href="#" class="header__logo">
                    <img src="img/logo.svg" alt="logo" data-effect="opacity" class="first-load" data-delay="0.2">
                </a>
                <div class="header__text parent-line first-load" data-delay="0.4">
                    <div class="header__text-row">
                        next-gen app that combines entertainment and financial
                    </div>
                    <div class="header__text-row">
                        services within an engaging XR game.
                    </div>
                </div>
            </div>
            <div class="header__right">
                <a href="#" class="header__link first-load" data-effect="opacity" data-delay="0.7">
                    <span>Onmi Gallery</span>
                    <svg width="29" height="34" class="arrow_link">
                        <use xlink:href="./img/icons/icons.svg#arrow_link"></use>
                    </svg>
                </a>
                <a href="#" class="header__link first-load" data-effect="opacity" data-delay="0.8">
                    <span>Guide.doc</span>
                    <svg width="29" height="34" class="arrow_link">
                        <use xlink:href="./img/icons/icons.svg#arrow_link"></use>
                    </svg>
                </a>
                <button class="header__btn btn first-load" data-open="#modal" data-effect="opacity" data-delay="0.9">
                    Download
                    App
                </button>
                <div class="header__burger burger" data-effect="opacity" data-delay="0.2"><span></span><span></span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="mob-menu">
    <div class="container">
        <a href="#" class="mob-menu__link header__link" data-delay="0.3">
            <span>Onmi Gallery</span>
            <svg width="29" height="34" class="arrow_link">
                <use xlink:href="./img/icons/icons.svg#arrow_link"></use>
            </svg>
        </a>
        <a href="#" class="mob-menu__link header__link" data-delay="0.4">
            <span>Guide.doc</span>
            <svg width="29" height="34" class="arrow_link">
                <use xlink:href="./img/icons/icons.svg#arrow_link"></use>
            </svg>
        </a>
        <div class="mob-menu__links" data-delay="0.5">
            <div class="mob-menu__label">Social</div>
            <ul class="mob-menu__list">
                <li class="mob-menu__elem">
                    <a href="https://facebook.com/onmi.world" target="_blank" class="mob-menu__link">Instagram</a>
                </li>
                <li class="mob-menu__elem">
                    <a  href="https://twitter.com/onmionmi" target="_blank" class="mob-menu__link">𝕏 (Twitter)</a>
                </li>
                <li class="mob-menu__elem">
                    <a href="https://facebook.com/onmi.world" target="_blank" class="mob-menu__link">Facebook</a>
                </li>
               <!-- <li class="mob-menu__elem">
                    <a href="#" class="mob-menu__link">Discord</a>
                </li>-->
                <li class="mob-menu__elem">
                    <a href="https://medium.com/@onmiwww" target="_blank" class="mob-menu__link">Medium</a>
                </li>
            </ul>
        </div>
    </div>
</div>
