<header class="header animate" xmlns="http://www.w3.org/1999/html">
  <div class="container">
    <div class="header__wrapper">
      <div class="header__left">
        <a href="#" class="header__logo">
          <img src="img/logo.svg" alt="logo" data-effect="line" data-delay="0.2">
        </a>
        <a href="#" class="header__lang">
          <span data-effect="line" data-delay="0.8">E</span>
          <span data-effect="line" data-delay="0.9">N</span>
        </a>
      </div>
      <div class="header__right">
        <div class="burger" data-effect="fade-down" data-delay="0.6">
          <span ></span>
          <span></span>
        </div>
        <div class="header__btns">
          <a href="#" class="app-btn" data-effect="fade-down" data-duration="1" data-delay="0.4">
            <img src="img/icons/apple.svg" alt="" class="app-btn__icon">
            <span class="app-btn__text">App Store</span>
          </a>
          <a href="#" class="app-btn" data-effect="fade-down" data-duration="1" data-delay="0.5">
            <img src="img/icons/googlePlay.svg" alt="" class="app-btn__icon">
            <span class="app-btn__text">Google Play</span>
          </a>
        </div>
        <!--  <a href="#" class="header__lang">
            <span data-effect="line" data-delay="0.8">E</span>
            <span data-effect="line" data-delay="0.9">N</span>
          </a>
          <div class="burger" data-effect="fade-down" data-delay="0.6">
            <span ></span>
            <span></span>
          </div>
        </div>-->
      </div>
    </div>
</header>
