<section class="hero">
    <div class="container">
        <div class="hero__wrapper">
            <div class="hero__content">
                <h1 class="hero__title  animate" data-duration="1.2" data-effect="fade-down">
                    Play <span class="color_gray">with the world</span>
                </h1>
                <div class="hero__info" data-effect="fade-up" data-lag="0.2" data-delay="0.7" data-duration="1.2">
                    <div class="hero__info-text">
                        <span id="population"></span>
                        <span> - amount people on</span>
                    </div>
                    <div class="hero__info-text">
                        <span id="waitingList">4,222</span>
                        <span> - amount people on</span>
                    </div>
                </div>
            </div>
            <div class="hero__text">
                <span class="text-line" data-delay="0.4">onmi will open up the opportunity for you to</span>
                <span class="text-line" data-delay="0.5">become the hero of an XR game with a story</span>
                <span class="text-line" data-delay="0.6">written by the screenwriters of the</span>
                <span class="text-line" data-delay="0.7">projects for Netflix.</span>
            </div>
            <a href="#" class="hero__mobile-btn btn" data-effect="opacity" data-delay="0.4">
                Download
            </a>
        </div>
    </div>
</section>
