<section class="hero">
    <div class="container">
        <div class="hero__wrapper">
            <div class="hero__content">
                <h1 class="hero__title gradient-text">
                    <span class="text-line first-load">Play with the world</span>
                </h1>
                <div class="hero__pose">
                    <noscript data-webp="">
                        <img src="./img/hero_pose.png" class="" data-effect="" alt="pose 1">
                    </noscript>
                </div>
            </div>
            <div class="hero__text">
                <p class="text-line" data-delay="0.3">onmi will open up the opportunity for you</p>
                <p class="text-line" data-delay="0.4">to become the hero of an XR</p>
            </div>
            <a href="#" class="hero__mobile-btn btn" data-effect="opacity" data-open="#modal" data-delay="0.5">
                Download App
            </a>
        </div>
    </div>
</section>
