<section class="hunger-games">
    <div class="container">
        <div class="hunger-games__wrapper">
            <h2 class="hunger-games__title" data-effect="opacity">
                <div class="color_gray hunger-games__title_small">hunger</div>
                <div>games</div>
            </h2>
            <div class="hunger-games__pose ">
                <noscript data-webp><img src="./img/hunger_pose.png"  alt="OMI"></noscript>
                <!-- <img src="img/hunger_pose.png" alt="hunger games pose"> -->
            </div>
        </div>
    </div>
    <div class="hunger-games__earth" data-effect="opacity">
        <picture>
            <source media="(max-device-width:768px)" srcset="./img/earth_mob.webp">
            <noscript data-webp>
                <img src="img/earth.png"  alt="Earth">
            </noscript>
        </picture>
    </div>
    <div class="container">
        <div class="hunger-progress">
        </div>
    </div>
    <div class="hunger-progress__container container">
        <div class="hunger-progress__inner">
            <div class="hunger-progress__man hunger-progress__man_1" data-duration="0.6" data-effect="opacity">
                <img src="img/run/icon_1.svg"  alt="run man">
            </div>
            <div class="hunger-progress__man hunger-progress__man_2" data-duration="0.6" data-effect="opacity"
                 data-delay="0.2">
                <img src="img/run/icon_2.svg"  alt="run man">
            </div>
            <div class="hunger-progress__man hunger-progress__man_3" data-duration="0.6" data-effect="opacity"
                 data-delay="0.34">
                <img src="img/run/icon_3.svg"  alt="run man">
            </div>
            <div class="hunger-progress__man hunger-progress__man_4" data-duration="0.6" data-effect="opacity"
                 data-delay="0.46">
                <img src="img/run/icon_4.svg"  alt="run man">
            </div>
            <div class="hunger-progress__man hunger-progress__man_5" data-duration="0.6" data-effect="opacity"
                 data-delay="0.58">
                <img src="img/run/icon_5.svg"  alt="run man">
            </div>
            <div class="hunger-progress__man hunger-progress__man_6" data-duration="0.6" data-effect="opacity"
                 data-delay="0.7">
                <img src="img/run/icon_6.svg"  alt="run man">
            </div>

            <div class="hunger-progress__man hunger-progress__man_7" data-duration="0.6" data-effect="opacity"
                 data-delay="0.8">
                <img src="img/run/icon_7.svg"  alt="run man">
            </div>
            <div class="hunger-progress__man hunger-progress__man_finish" data-duration="0.6"
                 data-effect="opacity">
                <img src="img/run/finish.svg"  alt="run man">
            </div>
            <div class="hunger-map__icon" data-duration="0.6" data-effect="opacity"
                 data-delay="0.1">
                <img src="img/icons/icon_observer.svg"  alt="observer">
            </div>
            <div class="hunger-progress__line line line_top"></div>
        </div>
    </div>
    <div class="container">
        <div class="hunger-progress__main-wrapper main-wrapper">
            <div class="main-wrapper__col">
                <div class="hunger-progress__text hunger-progress__text_1">
                    <p class='text-line' data-delay="0.1">The Grand Finale, which has a massive prize pool, is the
                        highlight of the season and a fascinating show that every player can be a part of.

                    </p>
                </div>
            </div>
            <div class="main-wrapper__col">
                <div class="main-wrapper hunger-progress__main-wrapper">
                    <div class="main-wrapper__col">
                        <div class="hunger-progress__text hunger-progress__text_2">
                            <p data-effect="fade-down" data-delay="0.1">The finals are for top players on the
                                leaderboards and daring gamblers willing to take risks and pay an entry fee.
                            </p>
                        </div>
                    </div>
                    <div class="main-wrapper__col">
                        <div class="hunger-map__icon hunger-map__icon_mob" data-duration="0.6" data-effect="opacity"
                             data-delay="0.1">
                            <img src="img/icons/icon_observer.svg"  alt="observer">
                        </div>
                        <div class="hunger-progress__text hunger-progress__text_3">
                            <p data-effect="fade-down" data-delay="0.2">Everyone else online can watch the final
                                contest, which occurs in a different part of the world each time. Spectators can bet on
                                their favorite player.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
