<section class="hunger-games">
  <div class="container">
    <div class="hunger-games__wrapper">
      <h2 class="hunger-games__title" data-lag="0.2">
        <span class="color_gray hunger-games__title_small text-line" data-delay="0.2">hunger</span>
        <span class="text-line" data-delay="0.2">games</span>

      </h2>
      <div class="hunger-games__pose ">
        <noscript data-webp><img src="./img/hunger_pose.png"></noscript>
        <!-- <img src="img/hunger_pose.png" alt="hunger games pose"> -->
      </div>
    </div>
    <div class="hunger-games__earth">
      <img src="img/earth.png" alt="Earth">
    </div>
    <div class="hunger-progress">
      <div class="container hunger-progress__inner">
        <div class="hunger-progress__man hunger-progress__man_1" data-duration="0.6" data-effect="opacity">
          <img src="img/run/icon_1.svg" alt="run man">
        </div>
        <div class="hunger-progress__man hunger-progress__man_2" data-duration="0.6" data-effect="opacity"
             data-delay="0.2">
          <img src="img/run/icon_2.svg" alt="run man">
        </div>
        <div class="hunger-progress__man hunger-progress__man_3" data-duration="0.6" data-effect="opacity"
             data-delay="0.34">
          <img src="img/run/icon_3.svg" alt="run man">
        </div>
        <div class="hunger-progress__man hunger-progress__man_4" data-duration="0.6" data-effect="opacity"
             data-delay="0.46">
          <img src="img/run/icon_4.svg" alt="run man">
        </div>
        <div class="hunger-progress__man hunger-progress__man_5" data-duration="0.6" data-effect="opacity"
             data-delay="0.58">
          <img src="img/run/icon_5.svg" alt="run man">
        </div>
        <div class="hunger-progress__man hunger-progress__man_6" data-duration="0.6" data-effect="opacity"
             data-delay="0.7">
          <img src="img/run/icon_6.svg" alt="run man">
        </div>
        <div class="hunger-progress__man hunger-progress__man_7" data-duration="0.6" data-effect="opacity"
             data-delay="0.82">
          <img src="img/run/icon_7.svg" alt="run man">
        </div>
        <div class="hunger-progress__man hunger-progress__man_finish" data-duration="0.6" data-effect="opacity">
          <img src="img/run/finish.svg" alt="run man">
        </div>
        <div class="hunger-progress__line line line_top"></div>
      </div>

      <div class="main-wrapper">
        <div class="main-wrapper__col">
          <div class="hunger-progress__text hunger-progress__text_1">
            <p class='text-line' data-delay="0.1">The Grand Final of the season with a colossal prize pool becomes a
              fascinating show and
              the quintessence of the season that every player can be a part of.
            </p>
          </div>
        </div>
        <div class="main-wrapper__col">

          <div class="hunger-progress__text hunger-progress__text_2">
            <p data-effect="fade-down" data-delay="0.1">The grand finals are for the leaderboards and the most
              gambling players who
              are willing to take a risk and participate for an entry fee.</p>
            <div class="hunger-map__icon" data-effect="fade-down">
              <img src="img/icons/icon_observer.svg" alt="observer">
            </div>
            <p data-effect="fade-down" data-delay="0.2">Everyone else online becomes a spectator of the final
              contest, which each time takes place in a different part of the world, and can bet on their favorite
              or even help a player with their stoff.</p>
          </div>

          <!-- <div class="hunger-progress__wrapper">
             <div class="hunger-progress__col">

             </div>
             <div class="hunger-progress__col">
               <div class="hunger-progress__text hunger-progress__text_3">
                 <p data-effect="fade-down">Финал – уникальная возможность получить эксклюзивные NFT. Они
                   появляются в самых
                   разных (и
                   удивительных) локациях по всему миру – тебе всего лишь нужно найти их первым</p>
               </div>
             </div>
           </div>-->
        </div>
      </div>
    </div>
 <!--   <h3 class="hunger-map__title main__title">
      <div class="hidden">
        <div class="text-line color_gray" data-delay="">The most exclusive NFT</div>
      </div>
      <div class="hidden">
        <div class="text-line color_gray" data-delay="0.1">will be dropped in the</div>
      </div>
      <div class="hidden">
        <div class="text-line" data-delay="0.2"><span class="color_gray">announced</span> amazing</div>
      </div>
      <div class="hidden">
        <div class="text-line" data-delay="0.3">places</div>
      </div>
    </h3>
    <div class="hunger-games__map">
      <noscript data-webp><img src="./img/word_map.png" alt="Word map"></noscript>
      <div data-duration="1.2" class="hunger-games__map-point world__map-point world__map-point_1">
        <div class="world__map-circle"></div>
      </div>
      <div data-duration="1.2" class="hunger-games__map-point world__map-point world__map-point_2">
        <div class="world__map-circle"></div>
      </div>
      <div data-duration="1.2" class="hunger-games__map-point world__map-point world__map-point_3">
        <div class="world__map-circle"></div>
      </div>
      <div data-duration="1.2" class="hunger-games__map-point world__map-point world__map-point_4">
        <div class="world__map-circle"></div>
      </div>
      <div data-duration="1.2" class="hunger-games__map-point world__map-point world__map-point_5">
        <div class="world__map-circle"></div>
      </div>
      <div data-duration="1.2" class="hunger-games__map-point world__map-point world__map-point_6">
        <div class="world__map-circle"></div>
      </div>
      <div data-duration="1.2" class="hunger-games__map-point world__map-point world__map-point_7">
        <div class="world__map-circle"></div>
      </div>
      <div data-duration="1.2" class="hunger-games__map-point world__map-point world__map-point_8">
        <div class="world__map-circle"></div>
      </div>
      <div data-duration="1.2" class="hunger-games__map-point world__map-point world__map-point_9">
        <div class="world__map-circle"></div>
      </div>
      <div data-duration="1.2" class="hunger-games__map-point world__map-point world__map-point_10">
        <div class="world__map-circle"></div>
      </div>
      <div data-duration="1.2" class="hunger-games__map-point world__map-point world__map-point_11">
        <div class="world__map-circle"></div>
      </div>
    </div>
    <div class="main-wrapper">
      <div class="main-wrapper__col">

      </div>
      <div class="main-wrapper__col">
        <div class="hunger-map__text">
          <p data-effect="fade-down">If you are not yet ready to be an active participant in the Hunger Games,
            you can take the
            position of
            observer.
          </p>
          <p data-effect="fade-down" data-delay="0.1">
            Anyone can follow the Hunger Games in real time - including betting on those players in whom you
            see
            winners.
          </p>
        </div>
      </div>
    </div>-->
  </div>
</section>
