<section class="hunger-games">
  <div class="container">
    <div class="hunger-games__wrapper">
      <h2 class="hunger-games__title" data-effect="opacity">
        <div class="title-row color_gray">
          <span class="text-line text-desktop">Hit the jackpot in the</span>
          <span class="text-line text-mob">Hit the jackpot</span>
        </div>
        <div class="title-row">
          <span class="text-line text-desktop" data-delay="0.1">Hunger Games</span>
          <span class="text-line text-mob" data-delay="0.1">
            <span class="color_gray">in the</span> Hunger
          </span>
        </div>
        <div class="title-row text-mob">
          <span class="text-line" data-delay="0.2">Games</span>
        </div>
      </h2>
      <div class="hunger-games__pose ">
        <noscript data-webp><img src="./img/hunger_pose.png" loading="lazy" alt="OMI"></noscript>
        <!-- <img src="img/hunger_pose.png" alt="hunger games pose"> -->
      </div>
      <div class="hunger-games__subtitle main__text">
        Take the prize in your city
      </div>
    </div>
  </div>
  <div class="hunger-games__city" data-effect="opacity">
    <picture>
      <source media="(max-device-width:768px)" srcset="./img/hunger_city_mob.webp">
      <noscript data-webp>
        <img src="img/hunger_city.png" alt="hunger city">
      </noscript>
    </picture>
  </div>
  <div class="container">
    <div class=" hunger-games__cards">
      <div class="card-token hunger-card">
        <div class="hunger-card__icon hunger-card__icon_1">
          <img src="./img/icons/hunger-icon_1.svg" alt="hunger icon run">
        </div>
        <div class="hunger-card__content">
          <div class="hunger-card__title">Compete</div>
          <div class="hunger-card__text">
            <p>The Hunger Games finals will take place in metropolitan areas all over the world at a
              pre-determined
              time.
            </p>
            <p>Competitors will clash in a battle royale with real-life treasure hunt elements</p>
          </div>
        </div>
      </div>
      <div class="card-token hunger-card">
        <div class="hunger-card__icon hunger-card__icon_2">
          <img src="./img/icons/hunger-icon_2.svg" alt="hunger icon observe">
        </div>
        <div class="hunger-card__content">
          <div class="hunger-card__title">Support
          </div>
          <div class="hunger-card__text">
            <p>Every player can follow the game live, make bets on and help the player of their choice.</p>
            <p>The final contest takes place in the hearts of each of the regions, utilizing its hidden
              layer for an
              epic final showdown.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
