<section class="journey-cards">
  <div class="container">
    <div class="cards__wrapper journey-cards__wrapper">
      <div class="journey-cards__col cards__col">
        <div data-effect="opacity" data-duration="0.9" class="journey-card journey-card_1">
          <div class="journey-card__content">
            <div class="journey-card__title card__title">AR objects in real locations</div>
            <div class="journey-card__text">Find, interact, activate, and progress in the game.</div>
          </div>
          <div class="journey-card__phone">
            <noscript data-webp>
              <img src="img/adventure_phone.png" alt="phone screen"/>
            </noscript>
            <video id="video_phone" src="./video/journey_phone.mp4" type="video/mp4" autoplay="true"
                   muted="muted" loop />
          </div>
        </div>
        <div data-effect="opacity" data-duration="0.9" data-delay="0.4" class="journey-card journey-card_3">
          <div class="journey-card__content">
            <div class="journey-card__title card__title">Hot spots</div>
            <div class="journey-card__text">Visit meeting spots in every major city — swap, fight, unite, and keep in
              touch with others.
            </div>
          </div>
        </div>
      </div>
      <div class="journey-cards__col cards__col">
        <div data-effect="opacity" data-duration="0.9" data-delay="0.2" class="journey-card journey-card_2">
          <div class="journey-card__content">
            <div class="journey-card__title card__title">Meet Spotters on the streets</div>
            <div class="journey-card__text">Сomplete tasks and get a reward</div>
          </div>
          <div class="journey-card__omi">
            <noscript data-webp>
              <img src="./img/journey/journey_omi.png" alt="omi"/>
            </noscript>
          </div>
        </div>
        <div data-effect="opacity" data-duration="0.9" data-delay="0.6" class="journey-card journey-card_4">
          <div class="card__front-img_bg">
            <noscript data-webp="">
              <img class="" src="./img/journey/journey_map.jpg"  alt="map">
            </noscript>
          </div>
          <div class="journey-card__content journey-card__content_centered">
            <div class="journey-card__title card__title">Grab territory with your clan</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
