<section class="journey-cards">
  <div class="container">
    <div class="journey-cards__wrapper">
      <div class="journey-cards__col">
        <div data-effect="fade-in" data-duration="1.1" class="journey-card journey-card_1">
          <div class="journey-card__content">
            <div class="journey-card__title">Choose the right subculture</div>
            <div class="journey-card__text">To determine your style of play</div>
          </div>
          <div class="journey-card__phone" data-speed="1.1">
            <noscript data-webp>
              <img src="img/adventure_phone.png"/>
            </noscript>
            <video id="video_phone" src="./video/journey_phone.mp4" type="video/mp4" autoplay="true"
                   muted="muted"  loop/>
          </div>
        </div>
        <div data-effect="fade-in" data-duration="1.1" data-delay="0.4" class="journey-card journey-card_3">
          <div class="journey-card-video">
            <video id="video_trap" src="./video/cyan.webm" type="video/webm" loop autoplay="true"
                   muted="muted"></video>
          </div>
          <div class="journey-card__content journey-card__content_end">
            <div class="journey-card__title">Choose the right subculture</div>
            <div class="journey-card__text">To determine your style of play</div>
          </div>
        </div>
      </div>
      <div class="journey-cards__col">
        <div data-effect="fade-in" data-duration="1.1" data-delay="0.2" class="journey-card journey-card_2">
          <div class="journey-card__content">
            <div class="journey-card__title">Meet Spotters on the streets</div>
            <div class="journey-card__text">Сomplete tasks and get a reward</div>
          </div>
          <div class="journey-card__omi" data-speed="1.2">
            <noscript data-webp>
              <img src="./img/journey/journey_omi.png" alt="omi"/>
            </noscript>
          </div>
        </div>
        <div data-effect="fade-in" data-duration="1.1" data-delay="0.6" class="journey-card journey-card_4">
          <div class="card__front-img_bg" data-speed="1.1">
            <noscript data-webp="">
              <img class=""  src="./img/journey/journey_map.jpg" alt="">
            </noscript>
          </div>
          <div class="journey-card__content journey-card__content_centered">
            <div class="journey-card__title">Grab territory with your clan</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
