<section class="keep">
  <div class="container container_padding">
    <div class="keep__header">
      <h3 class="keep__title">
        <span data-effect="line">keep in touch</span>
      </h3>
      <!-- <div class="keep__line" data-effect="draw-line"></div> -->
      <div class="line line_bottom"></div>
    </div>
    <div class="keep__wrapper main-wrapper">
      <div class="line line_bottom"></div>
      <!-- <div class="keep__line" data-effect="draw-line"></div> -->
      <div class="main-wrapper__col">
        <ul class="keep__socials-list">
          <li class="keep__socials-elem">
            <a href="" class="keep__socials-link main-link">
              <span data-effect="line">Discord</span>
            </a>
          </li>
          <li class="keep__socials-elem">
            <a href="" class="keep__socials-link main-link">
              <span data-effect="line">Twitter</span>
            </a>
          </li>
          <li class="keep__socials-elem">
            <a href="" class="keep__socials-link main-link">
              <span data-effect="line">Telegram</span>
            </a>
          </li>
          <li class="keep__socials-elem">
            <a href="" class="keep__socials-link main-link">
              <span data-effect="line">Facebook</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="main-wrapper__col">
        <div class="keep__wrapper-content">
          <div class="keep__wrapper-descr">
            <div class="keep__wrapper-label">
              <span data-effect="line">Lead Developer</span>
            </div>
            <div class="keep__wrapper-text">
              <p data-effect="fade-down">The main feature of onmi structural security is the separation of modules in
                the
                architecture of the
                technical implementation of the system.</p>
              <p data-effect="fade-down">Each of the active elements within the overall interaction structure performs
                strictly its own function,
              </p>
              <p data-effect="fade-down">The main feature of onmi structural security is the separation of modules in
                the
                architecture of the
                technical implementation of the system.</p>
              <p data-effect="fade-down">Each of the active elements within the overall interaction structure performs
                strictly its own function,
              </p>
            </div>
          </div>
          <div class="keep__wrapper-descr">
            <div class="keep__wrapper-label">Lead Developer</div>
            <div class="keep__wrapper-text">
              <p data-effect="fade-down">The main feature of onmi structural security is the separation of modules in
                the
                architecture of the
                technical implementation of the system.</p>
              <p data-effect="fade-down">Each of the active elements within the overall interaction structure performs
                strictly its own function,
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
