<section class="level">
  <div class="level__wrapper">
    <div class="level-circle" data-effect="fade-down" data-delay="0.1" data-duration="0.8"></div>
    <div class="level-circle level-circle_center" data-effect="fade-down" data-duration="0.8">
      <h4 class="level-circle__title main__title color_gray">
        <div class="hidden">
          <div class="text-line">ONMI LEVEL</div>
        </div>
      </h4>
      <div class="level-circle__text">
        <p>
          <span class="text-line" data-delay="0.1">From the very beginning of the game</span>
          <span class="text-line" data-delay="0.1">you enter the club system as you</span>
          <span class="text-line" data-delay="0.1">progress: as your game level grows,</span>
          <span class="text-line" data-delay="0.1">you gain access to the benefits</span>
          <span class="text-line" data-delay="0.1">associated with the onmi ecosystem</span>
          <span class="text-line" data-delay="0.1">and its partners.</span>
        </p>
      </div>
    </div>
    <div class="level-circle" data-effect="fade-down" data-delay="0.1" data-duration="0.8"></div>
  </div>
</section>
