<section class="level" data-effect="fade-down" data-duration="0.8">
  <div class="swiper level-slider">
    <div class="level__wrapper swiper-wrapper">
      <div class="swiper-slide level-circle ">
        <h4 class="level-circle__title main__title color_gray">
          ONMI LEVEL
        </h4>
        <div class="level-circle__text">
          <p>
            <span>From the very beginning of the game</span>
            <span>you enter the club system as you</span>
            <span>progress: as your game level grows,</span>
            <span>you gain access to the benefits</span>
            <span>associated with the onmi ecosystem</span>
            <span>and its partners.</span>
          </p>
        </div>
      </div>
      <div class="swiper-slide level-circle ">
        <h4 class="level-circle__title main__title color_gray">
          <div class="hidden">
            <div>ONMI LEVEL</div>
          </div>
        </h4>
        <div class="level-circle__text">
          <p>
            <span>From the very beginning of the game</span>
            <span>you enter the club system as you</span>
            <span>progress: as your game level grows,</span>
            <span>you gain access to the benefits</span>
            <span>associated with the onmi ecosystem</span>
            <span>and its partners.</span>
          </p>
        </div>
      </div>
      <div class="swiper-slide level-circle ">
        <h4 class="level-circle__title main__title color_gray">
          <div class="hidden">
            <div>ONMI LEVEL</div>
          </div>
        </h4>
        <div class="level-circle__text">
          <p>
            <span>From the very beginning of the game</span>
            <span>you enter the club system as you</span>
            <span>progress: as your game level grows,</span>
            <span>you gain access to the benefits</span>
            <span>associated with the onmi ecosystem</span>
            <span>and its partners.</span>
          </p>
        </div>
      </div>
    </div>
    <div class="level__pagination swiper-pagination"></div>
    <div class="level-slider__arrows">
      <div class="level-slider__arrow level-slider__arrow_prev">
        <img src="img/icons/level-slider__arrow.svg" alt="Arrow">
      </div>
      <div class="level-slider__arrow level-slider__arrow_next">
        <img src="img/icons/level-slider__arrow.svg" alt="Arrow">
      </div>
    </div>
  </div>
</section>
