<section class="market">
    <div class="container">
        <div class="market__wrapper">
            <h2 class="market__title main__title">
                <div class="title-row">
                    <div class="color_gray text-line" data-delay="0.1">
                        <span class="text-desktop">Countless items</span>
                        <span class="text-mob">Countless</span>
                    </div>
                </div>
                <div class="title-row">
                    <div class="text-line" data-delay="0.2">
            <span class="text-desktop">
            <span class="color_gray">on the</span> market
            </span>
                        <span class="text-mob color_gray">items on the</span>
                    </div>
                </div>
                <div class="title-row text-mob">
                    <div class="text-line" data-delay="0.3">
                        market
                    </div>
                </div>
            </h2>
            <div class="market__text main__text">
                <div class="text-line" data-delay="0.3">
                    <span class="text-desktop">onmi gallery is a selective gallery of digital art,</span>
                    <span class="text-mob">The digital art gallery is a selective gallery</span>
                </div>
                <div class="text-line" data-delay="0.4">
                    <span class="text-desktop">featuring the work of unique digital artists, each</span>
                    <span class="text-mob">of digital art, featuring the work of unique</span>
                </div>
                <div class="text-line" data-delay="0.5">
                    <span class="text-mob">digital artists, each of whose works is</span>
                </div>
                <div class="text-line" data-delay="0.5">
                    <span class="text-desktop">of whose works is limited.</span>
                    <span class="text-mob">limited.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="market-catalog marquee3k marquee3k_mob" data-speedmarque="1">
        <div class="market-catalog__lines">
            <div class="market-catalog__row ">
                <div class="market-catalog__row-item">
                    <div class="market-catalog__item">

                        <noscript data-webp><img src="img/catalog/item_1.png"  alt="catalog 1"></noscript>
                    </div>
                    <div class="market-catalog__item">

                        <noscript data-webp><img src="img/catalog/item_2.png"  alt="catalog 2"></noscript>
                    </div>
                    <div class="market-catalog__item">

                        <noscript data-webp><img src="img/catalog/item_3.png"  alt="catalog 3"></noscript>
                    </div>
                    <div class="market-catalog__item">

                        <noscript data-webp><img src="img/catalog/item_4.png"  alt="catalog 4"></noscript>
                    </div>
                    <div class="market-catalog__item">

                        <noscript data-webp><img src="img/catalog/item_5.png"  alt="catalog 5"></noscript>
                    </div>
                    <div class="market-catalog__item market-catalog__item_text">
                        <p>Author collections with artists, fashion brands, and festivals will be the most expensive
                            because they
                            will have offline attributes that provide special privileges.
                        </p>
                    </div>
                    <div class="market-catalog__item">
                        <noscript data-webp><img src="img/catalog/item_6.png"  alt="catalog 6"></noscript>

                    </div>
                    <div class="market-catalog__item">
                        <noscript data-webp><img src="img/catalog/item_7.png"  alt="catalog 7"></noscript>

                    </div>
                </div>
            </div>
            <div class="market-catalog__row ">
                <div class="market-catalog__row-item">
                    <div class="market-catalog__item">
                        <noscript data-webp><img src="img/catalog/item_8.png"  alt="catalog 8"></noscript>
                    </div>
                    <div class="market-catalog__item">
                        <noscript data-webp><img src="img/catalog/item_9.png"  alt="catalog 9"></noscript>
                    </div>
                    <div class="market-catalog__item market-catalog__item_text">
                        <p>Our in-house digital atelier makes new collections for our most active users every season.
                            Users can
                            create new items and sell them on the Marketplace to earn money.
                        </p>
                    </div>
                    <div class="market-catalog__item">
                        <noscript data-webp><img src="img/catalog/item_10.png"  alt="catalog 10">
                        </noscript>
                    </div>
                    <div class="market-catalog__item">
                        <noscript data-webp><img src="img/catalog/item_11.png"  alt="catalog 11">
                        </noscript>
                    </div>
                    <div class="market-catalog__item">
                        <noscript data-webp><img src="img/catalog/item_12.png"  alt="catalog 12">
                        </noscript>
                    </div>
                    <div class="market-catalog__item">
                        <noscript data-webp><img src="img/catalog/item_13.png"  alt="catalog 13">
                        </noscript>
                    </div>
                    <div class="market-catalog__item market-catalog__item_text">
                        <p>The Market makes you a full-fledged part of the ONMI economy. You can sell your existing
                            units or trade
                            them with other players here.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
