<section class="market">
  <div class="container">
    <div class="market__wrapper">
      <h2 class="market__title main__title" data-lag="0.1">
        <div class="hidden">
          <div class="color_gray text-line" data-delay="0.1">Countless items</div>
        </div>
        <div class="hidden">
          <div class="text-line" data-delay="0.2">
            <span class="color_gray">on the</span> market
          </div>
        </div>
      </h2>

      <div class="market__text main__text" data-lag="0.2">
        <div class="text-line" data-delay="0.3">The digital art gallery is a selective gallery of</div>
        <div class="text-line" data-delay="0.4">digital art, featuring the work of unique</div>
        <div class="text-line" data-delay="0.5">digital artists, each of whose works is</div>
        <div class="text-line" data-delay="0.6">limited.</div>
      </div>
    </div>
  </div>
  <div class="market-catalog marquee3k" data-speedmarque="1">
    <div class="market-catalog__lines">
      <div class="market-catalog__row ">
        <div class="market-catalog__row-item">
          <div class="market-catalog__item">

            <noscript data-webp><img src="img/catalog/item_1.png"></noscript>
          </div>
          <div class="market-catalog__item">

            <noscript data-webp><img src="img/catalog/item_2.png"></noscript>
          </div>
          <div class="market-catalog__item">

            <noscript data-webp><img src="img/catalog/item_3.png"></noscript>
          </div>
          <div class="market-catalog__item">

            <noscript data-webp><img src="img/catalog/item_4.png"></noscript>
          </div>
          <div class="market-catalog__item">

            <noscript data-webp><img src="img/catalog/item_5.png"></noscript>
          </div>
          <div class="market-catalog__item market-catalog__item_text">
            <p>The most expensive will be author collections with artists, fashion brands and festivals, which will have
              off-line properties that give special privileges and attributions.</p>
          </div>
          <div class="market-catalog__item">
            <noscript data-webp><img src="img/catalog/item_6.png"></noscript>

          </div>
          <div class="market-catalog__item">
            <noscript data-webp><img src="img/catalog/item_7.png"></noscript>

          </div>
        </div>
      </div>
      <div class="market-catalog__row ">
        <div class="market-catalog__row-item">
          <div class="market-catalog__item">
            <noscript data-webp><img src="img/catalog/item_8.png"></noscript>
          </div>
          <div class="market-catalog__item">
            <noscript data-webp><img src="img/catalog/item_9.png"></noscript>
          </div>
          <div class="market-catalog__item market-catalog__item_text">
            <p>Each look is the handiwork of a fashion designer</p>
          </div>
          <div class="market-catalog__item">
            <noscript data-webp><img src="img/catalog/item_10.png"></noscript>
          </div>
          <div class="market-catalog__item">
            <noscript data-webp><img src="img/catalog/item_11.png"></noscript>
          </div>
          <div class="market-catalog__item">
            <noscript data-webp><img src="img/catalog/item_12.png"></noscript>
          </div>
          <div class="market-catalog__item">
            <noscript data-webp><img src="img/catalog/item_13.png"></noscript>
          </div>
          <div class="market-catalog__item market-catalog__item_text">
            <p>Our in-house digital atelier prepares new collections every season for the most active users, who can
              craft new items and earn money by selling them on the Marketplace.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
