<section class="market">
  <div class="container">
    <div class="market__wrapper">
      <h2 class="market__title main__title">
        <div class="title-row">
          <div class="color_gray text-line" data-delay="0.1">
            <span class="text-desktop">Countless items</span>
            <span class="text-mob">Countless</span>
          </div>
        </div>
        <div class="title-row">
          <div class="text-line" data-delay="0.2">
            <span class="text-desktop">
            <span class="color_gray">on the</span> market
            </span>
            <span class="text-mob color_gray">items on the</span>
          </div>
        </div>
        <div class="title-row text-mob">
          <div class="text-line" data-delay="0.3">
            market
          </div>
        </div>
      </h2>

      <div class="market__text main__text">
        <div class="text-line" data-delay="0.3">
          <span class="text-desktop">onmi gallery is a collection of unique digital assets, featuring the</span>
          <span class="text-mob">onmi gallery is a collection of unique digital assets,</span>
        </div>
        <div class="text-line" data-delay="0.4">
          <span class="text-desktop">works of many aspiring or established digital artists. Every item</span>
          <span class="text-mob">featuring the works of many aspiring or</span>
        </div>
        <div class="text-line" data-delay="0.5">
          <span class="text-desktop">is limited in quantity</span>
          <span class="text-mob">established digital artists. Every item</span>
        </div>
        <div class="text-line text-mob" data-delay="0.5">
          is limited in quantity
        </div>
      </div>
    </div>
  </div>
  <div class="market-catalog marquee3k marquee3k_mob" data-speedmarque="1">
    <div class="market-catalog__lines">
      <div class="market-catalog__row ">
        <div class="market-catalog__row-item">
          <div class="market-catalog__item">

            <noscript data-webp><img src="img/catalog/item_1.png" loading="lazy" alt="catalog 1"></noscript>
          </div>
          <div class="market-catalog__item">

            <noscript data-webp><img src="img/catalog/item_2.png" loading="lazy" alt="catalog 2"></noscript>
          </div>
          <div class="market-catalog__item">

            <noscript data-webp><img src="img/catalog/item_3.png" loading="lazy" alt="catalog 3"></noscript>
          </div>
          <div class="market-catalog__item">

            <noscript data-webp><img src="img/catalog/item_4.png" loading="lazy" alt="catalog 4"></noscript>
          </div>
          <div class="market-catalog__item">

            <noscript data-webp><img src="img/catalog/item_5.png" loading="lazy" alt="catalog 5"></noscript>
          </div>
          <div class="market-catalog__item market-catalog__item_text">
            <p>The most expensive will be author collections with artists, fashion brands and festivals, which will have
              off-line properties that give special privileges and attributions.
            </p>
          </div>
          <div class="market-catalog__item">
            <noscript data-webp><img src="img/catalog/item_6.png" loading="lazy" alt="catalog 6"></noscript>

          </div>
          <div class="market-catalog__item">
            <noscript data-webp><img src="img/catalog/item_7.png" loading="lazy" alt="catalog 7"></noscript>

          </div>
        </div>
      </div>
      <div class="market-catalog__row ">
        <div class="market-catalog__row-item">
          <div class="market-catalog__item">
            <noscript data-webp><img src="img/catalog/item_8.png" loading="lazy" alt="catalog 8"></noscript>
          </div>
          <div class="market-catalog__item">
            <noscript data-webp><img src="img/catalog/item_9.png" loading="lazy" alt="catalog 9"></noscript>
          </div>
          <div class="market-catalog__item market-catalog__item_text">
            <p>Signature collections made in collaboration with fashion brands and select artists will be of much higher
              value due to unique offline privileges they provide.
            </p>
          </div>
          <div class="market-catalog__item">
            <noscript data-webp><img src="img/catalog/item_10.png" loading="lazy" alt="catalog 10">
            </noscript>
          </div>
          <div class="market-catalog__item">
            <noscript data-webp><img src="img/catalog/item_11.png" loading="lazy" alt="catalog 11">
            </noscript>
          </div>
          <div class="market-catalog__item">
            <noscript data-webp><img src="img/catalog/item_12.png" loading="lazy" alt="catalog 12">
            </noscript>
          </div>
          <div class="market-catalog__item">
            <noscript data-webp><img src="img/catalog/item_13.png" loading="lazy" alt="catalog 13">
            </noscript>
          </div>
          <div class="market-catalog__item market-catalog__item_text">
            <p>Become a cog in the onmi economy machine. Every action you make in the game is influencing the market.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
