<section class="mission">
  <div class="container_padding container">
    <div class="mission__wrapper main-wrapper">
      <div class="mission__line mission__line_horizontal"></div>
      <div class="mission__line mission__line_diagonally">
        <svg>
          <line x1="0" y1="0" x2="100%" y2="100%" stroke-width="2" style="stroke:rgba(255, 255, 255, .3)"></line>
        </svg>
      </div>
      <div class="main-wrapper__col">
        <h3 class="mission__title" data-effect="opacity">
          Mission
          <span class="mission__title-arrow">
            <img src="img/icons/arrow_slider.svg"  alt="arrow">
          </span>
        </h3>
      </div>
      <div class="main-wrapper__col">
        <div class="mission__text readed-text mission__text_big" data-effect="opacity">
          <p class="readed-text">
            To merge the real and digital worlds through the excitement of adventure and the thirst to achieve victories
            in treasure hunts. To help users relive familiar childhood sensations lost over time.
          </p>
        </div>
        <div class="mission__text mission__text_big">
          <p class="readed-text">ONMI is a nexus-gen app because it seeks to rediscover the user's interaction with
            content and its author via narrative and game mechanics. The new society will have a combination of
            entertainment, content, and service apps, such as financial tools, chat rooms, and a marketplace.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
