<section class="mission">
  <div class="container_padding container">
    <div class="mission__wrapper main-wrapper">
      <div class="mission__line"></div>
      <div class="mission__line mission__line_diagonally">
        <svg>
          <line x1="0" y1="0" x2="100%" y2="100%" stroke-width="2" style="stroke:#D4C9C1"></line>
        </svg>
      </div>
      <div class="main-wrapper__col">
        <h3 class="mission__title" data-effect="fade-in">
          Mis&shy;sion
          <span class="mission__title-arrow">
            <img src="img/icons/arrow_slider.svg" alt="arrow">
          </span>
        </h3>
      </div>
      <div class="main-wrapper__col">
        <div class="mission__text" data-effect="fade-down">
          <div class="text-line" data-delay="">Merging the real world and the digital world via the passion
            of
          </div>
          <div class="text-line" data-delay="">
            adventure <span class="color_gray">and the hunger games to win in the hunt for</span>
          </div>
          <div class="text-line" data-delay="color_gray">hidden treasures. Bring back those feelings that are
            so
          </div>
          <div class="text-line" data-delay="color_gray">familiar to us from childhood!</div>
        </div>
        <div class="mission__text mission__text_big">
          <p class="readed-text">In its philosophy, onmi is a nexus gen-app, in which the user's interaction with
            content and its author is rediscovered through story and gamification. Financial tools, chat rooms,
            marketplace - the inseparable link between the entertainment content and the service app that will be part
            of the new society.</p>
        </div>
      </div>
    </div>
  </div>
</section>
