<section class="mission">
  <div class="container_padding container">
    <div class="mission__wrapper main-wrapper">
      <div class="mission__line mission__line_horizontal line"></div>
      <div class="main-wrapper__col">
        <h3 class="mission__title" data-effect="opacity">
          Mission
        </h3>
      </div>
      <div class="main-wrapper__col">
        <div class="mission__text readed-text mission__text_big" data-effect="opacity">
          <p class="readed-text">Merging the real world and the digital world via the passion of adventure and the
            hunger games to win in the hunt for hidden treasures. Bring back those feelings that are so familiar to us
            from childhood!</p>
        </div>
      </div>
    </div>
  </div>
</section>
