<div id="modal" class="modal">
  <div class="modal__container container">
    <div class="modal__content">
      <form id="be-part__form" action="" class="modal__form form">
        <div class="form__label">
          Enter your email address to get on the whitelist and receive an invitation to the <span class="color_green">first stage of testing for 10,000 users.</span>
        </div>
        <div class="form__field">
          <input type="text" name="email" autocomplete="off" placeholder="Email" class="form__input">
          <div class="line line__bottom"></div>
          <button class="form__btn btn">I’m in</button>
        </div>
        <div class="form__text">We'll send you a confirmation and verification email soon.</div>
      </form>
    </div>
    <div class="modal__info">
      <div class="modal__info-icon">
        <noscript data-webp>
          <img src="./img/icons/reality-decor.png"/>
        </noscript>
      </div>
      <div class="modal__info-text">Available this autumn</div>
    </div>
  </div>
  <div class="modal__close">
    <div class="modal__burger burger active" data-effect="opacity" data-delay="0.2"><span></span><span></span>
    </div>
  </div>
</div>
