<section class="platform">
  <div class="container">
    <div class="platform__content">
      <h2 class="platform__title main__title">
        <div class="platform__title-row title-row">
          <span class="color_gray text-line">Choose</span>
        </div>
        <div class="platform__title-row title-row">
          <span class="text-line" data-delay="0.1"><span class="color_gray">your</span> platform</span>
        </div>
      </h2>
      <div class="platform__text main__text">
        <span class="text-line" data-delay="0.2">Become a part of a private product</span>
        <span class="text-line" data-delay="0.3">testing team</span>
      </div>
    </div>
  </div>
  <div class="platform__btns">
    <button type="button" data-open="#modal" class="platform__btn platform__btn_google" data-effect="opacity">
      <div class="platform__btn-text">Download on the</div>
      <div class="platform__btn-label">
        <div class="platform__btn-icon">
          <img src="img/icons/googlePlay.svg" alt="googlePlay">
        </div>
        <div class="platform__btn-name">Google Play</div>
      </div>
    </button>
    <button type="button" data-open="#modal" class="platform__btn platform__btn_apple" data-effect="opacity"
            data-delay="0.2">
      <div class="platform__btn-text">Download on the</div>
      <div class="platform__btn-label">
        <div class="platform__btn-icon">
          <img src="img/icons/apple.svg" alt="apple">
        </div>
        <div class="platform__btn-name">App Store</div>
      </div>
    </button>
  </div>
</section>
