<section class="policy">
    <div class="container">
        <div class="policy__circle" >
            <div class="policy__text">
                <p>There are no more governments. The world is run by Corporations. They kill the essence of an idea by
                    taking it from the Сreator.
                </p>
                <p>To keep our project safe, we do not unmask his team.</p>
            </div>
            <div class="policy__subtext">
                <span>ONMI TEAM</span>
                <span class="color_gray policy__subtext_small">EST2015</span>
            </div>
            <div id="checkbox" class="policy__checkbox">
                <label class="control control-checkbox">
                    <input type="checkbox" checked="checked"/>
                    <div class="control_indicator"></div>
                </label>
            </div>
        </div>
    </div>
</section>
