<section class="pvp">
  <div class="cotnainer">
    <div class="pvp__wrapper">
      <div class="pvp__descr">
        <h2 class="pvp__title gradient-text" data-effect="opacity">Battles</h2>
      </div>
      <div class="pvp-pose_1 ">
        <noscript data-webp><img src="img/pvp-pose_1.png"></noscript>
      </div>
      <div class="pvp-pose_2 " data-speed="0.9">
        <noscript data-webp><img src="img/pvp-pose_2.png"></noscript>
      </div>
    </div>
    <div class="pvp__text" data-effect="fade-down">
      <p>
        <span class="text-line" data-delay="0.1">Challenge your friends or find a worthy</span>
        <span class="text-line" data-delay="0.2">opponent.</span>
      </p>
      <p>
        <span class="text-line" data-delay="0.3">You can battle and earn unlimited,</span>
        <span class="text-line" data-delay="0.4">picking the competition format you're</span>
        <span class="text-line" data-delay="0.5">good at: agility, speed, tactics,</span>
        <span class="text-line" data-delay="0.6">attentiveness, intelligence or</span>
        <span class="text-line" data-delay="0.7">knowledge.</span>
      </p>
    </div>
   <!-- <div class="container">
      <div class="pvp-content">
        <div class="pvp-content__col">
          <div class="pvp-content__screen" data-effect="fade-down" data-duration="1">
            <noscript data-webp="">
              <img src="img/pvp_phone_1.png" alt="Deck">
            </noscript>
          </div>
          <div class="pvp-content__descr">
            <h5 class="pvp-content__title">
              <div class="hidden">
                <div class="text-line">Соревнуйся с другим</div>
              </div>
              <div class="hidden">
                <div class="text-line" data-delay="0.1">игроком</div>
              </div>
            </h5>
            <div class="pvp-content__text">
              <div class="text-line">Сейчас в ONMI у тебя есть</div>
              <div class="text-line" data-delay="0.1">возможность играть один на один</div>
              <div class="text-line" data-delay="0.2">– благодаря мини-играм, которые</div>
              <div class="text-line" data-delay="0.3">мы обновляем раз в сезон.</div>
            </div>
          </div>
        </div>
        <div class="pvp-content__col">
          <div class="pvp-content__screen" data-effect="fade-down" data-duration="1" data-delay="0.2">
            <noscript data-webp="">
              <img src="img/pvp_phone_2.png" alt="Tournament">
            </noscript>
          </div>
          <div class="pvp-content__descr">
            <h5 class="pvp-content__title">
              <div class="hidden">
                <div class="text-line">Соревнуйся на</div>
              </div>
              <div class="hidden">
                <div class="text-line" data-delay="0.1">глобальном уровне</div>
              </div>
            </h5>
            <div class="pvp-content__text">
              <div class="text-line">Ты можешь увеличить масштаб</div>
              <div class="text-line" data-delay="0.1">соревнований и стать участником</div>
              <div class="text-line" data-delay="0.2">worldwide tournament, который</div>
              <div class="text-line" data-delay="0.3">проходит раз в сезон. Лидеры</div>
              <div class="text-line" data-delay="0.4">получают выигрыш: NFT, токены и</div>
              <div class="text-line" data-delay="0.5">другие бонусы.</div>
            </div>
          </div>
        </div>
      </div>
    </div>-->
  </div>
</section>

<div id="end"></div>
