<section class="pvp">
  <div class="cotnainer">
    <div class="pvp__wrapper">
      <div class="pvp__descr">
        <h2 class="pvp__title gradient-text" data-effect="opacity">Battles</h2>
      </div>
      <div class="pvp-pose_1 ">
        <noscript data-webp><img src="img/pvp-pose_1.png" loading="lazy" alt="omi pose"></noscript>
      </div>
      <div class="pvp-pose_2">
        <noscript data-webp><img src="img/pvp-pose_2.png" loading="lazy" alt="omi pose"></noscript>
      </div>
    </div>
    <div class="pvp__text">
      <p>
        <span class="text-line" data-delay="0.1">
          <span class="text-desktop">Find a worthy opponent or challenge your friends. Compete in battles</span>
          <span class="text-mob">Find a worthy opponent or challenge your friends.</span>
        </span>
        <span class="text-line" data-delay="0.2">
          <span class="text-desktop">and earn lucrative rewards. Pick the competition that plays best with</span>
          <span class="text-mob">Compete in battles and earn lucrative rewards.</span>
        </span>
        <span class="text-line" data-delay="0.3">
          <span class="text-desktop">your strengths: agility, speed, tactics, reasoning, electiveness,</span>
          <span class="text-mob">Pick the competition that plays best with</span>
        </span>
        <span class="text-line" data-delay="0.4">
          <span class="text-desktop">intelligence or deep knowledge</span>
          <span class="text-mob">your strengths: agility, speed, tactics,</span>
        </span>
        <span class="text-line text-mob" data-delay="0.5">reasoning, electiveness, intelligence</span>
        <span class="text-line text-mob" data-delay="0.6">or deep knowledge</span>
      </p>
    </div>
  </div>
  <div class="pvp__map" data-effect="opacity">
    <picture>
      <source media="(max-device-width:768px)" srcset="./img/battle_city_mob.webp">
      <noscript data-webp>
        <img src="img/battle_city.png" alt="Battle city">
      </noscript>
    </picture>
  </div>
</section>

<div id="end"></div>
