<section class="pvp">
  <div class="cotnainer">
    <div class="pvp__wrapper">
      <div class="pvp__descr">
        <h2 class="pvp__title gradient-text" data-effect="opacity">Battles</h2>
      </div>
      <div class="pvp-pose_1 ">
        <noscript data-webp><img src="img/pvp-pose_1.png"  alt="omi pose"></noscript>
      </div>
      <div class="pvp-pose_2">
        <noscript data-webp><img src="img/pvp-pose_2.png"  alt="omi pose"></noscript>
      </div>
    </div>
    <div class="pvp__text" data-effect="fade-down">
      <p>
        <span class="text-line" data-delay="0.1">
          <span class="text-desktop">Challenge your friends or find a worthy</span>
          <span class="text-mob">Challenge your friends or find a</span>
        </span>
        <span class="text-line" data-delay="0.2">
          <span class="text-desktop">opponent.</span>
          <span class="text-mob">worthy opponent.</span>
        </span>
      </p>
      <p>
        <span class="text-line" data-delay="0.3">
          Fight in battles and earn lots of money
          </span>
        <span class="text-line" data-delay="0.4">
          by picking the competition format that
          </span>
        <span class="text-line" data-delay="0.5">
          best suits you: agility, speed, tactics,
          </span>
        <span class="text-line" data-delay="0.6">
          attentiveness, intelligence, or
          </span>
        <span class="text-line" data-delay="0.7">
          knowledge.
          </span>
      </p>
    </div>
  </div>
  <div class="pvp__map" data-effect="opacity">
    <picture>
      <source media="(max-device-width:768px)" srcset="./img/battle_city_mob.webp">
      <noscript data-webp>
        <img src="img/battle_city.png"  alt="Battle city">
      </noscript>
    </picture>
  </div>
</section>

<div id="end"></div>
