<section class="questions">
  <div class="question-item">
    <div class="question-item__line line" data-duration="1.2"></div>
    <div class="question-item__header" data-effect='fade-down'>
      <h5 class="question-item__title">What is the project?
      </h5>
      <div class="question-item__arrow">
        <img src="img/icons/arrow_slider.svg" alt="arrow">
      </div>
    </div>
    <div class="question-item__body">
      <div class="question-item__text">
        <p>Мы сделали максимально доступными и безопасными операции для всех наших пользователей c нашим токеном
          ONM.
          Благодаря блокчейн-технологии Polygon пользователь получает наивысшую скорость проведения транзакций
          и…</p>
      </div>
    </div>
  </div>
  <div class="question-item">
    <div class="question-item__line line" data-duration="1.2"></div>
    <div class="question-item__header" data-effect='fade-down'>
      <h5 class="question-item__title">Is ONMI a mobile game or not?
      </h5>
      <div class="question-item__arrow">
        <img src="img/icons/arrow_slider.svg" alt="arrow">
      </div>
    </div>
    <div class="question-item__body">
      <div class="question-item__text">
        <p>Мы сделали максимально доступными и безопасными операции для всех наших пользователей с нашим токеном
          ONM.
          Благодаря блокчейн-технологии Polygon пользователь получает наивысшую скорость проведения транзакций
          и…</p>
      </div>
    </div>
  </div>
  <div class="question-item">
    <div class="question-item__line line" data-duration="1.2"></div>
    <div class="question-item__header" data-effect='fade-down'>
      <h5 class="question-item__title">What technology does ONMI use?
      </h5>
      <div class="question-item__arrow">
        <img src="img/icons/arrow_slider.svg" alt="arrow">
      </div>
    </div>
    <div class="question-item__body">
      <div class="question-item__text">
        <p>Мы сделали максимально доступными и безопасными операции для всех наших пользователей с нашим токеном
          ONM.
          Благодаря блокчейн-технологии Polygon пользователь получает наивысшую скорость проведения транзакций
          и…</p>
      </div>
    </div>
  </div>
  <div class="question-item">
    <div class="question-item__line line" data-duration="1.2"></div>
    <div class="question-item__header" data-effect='fade-down'>
      <h5 class="question-item__title">How does the ONMI wallet keep my assets safe?</h5>
      <div class="question-item__arrow">
        <img src="img/icons/arrow_slider.svg" alt="arrow">
      </div>
    </div>
    <div class="question-item__body">
      <div class="question-item__text">
        <p>Мы сделали максимально доступными и безопасными операции для всех наших пользователей с нашим токеном
          ONM.
          Благодаря блокчейн-технологии Polygon пользователь получает наивысшую скорость проведения транзакций
          и…</p>
      </div>
    </div>
  </div>
  <div class="question-item">
    <div class="question-item__line line" data-duration="1.2"></div>
    <div class="question-item__line line question-item__line line_bottom"></div>
    <div class="question-item__header" data-effect='fade-down'>
      <h5 class="question-item__title">Is ONMI compatible with other blockchain platforms or tokens?</h5>
      <div class="question-item__arrow">
        <img src="img/icons/arrow_slider.svg" alt="arrow">
      </div>
    </div>
    <div class="question-item__body">
      <div class="question-item__text">
        <p>Мы сделали максимально доступными и безопасными операции для всех наших пользователей с нашим токеном
          ONM.
          Благодаря блокчейн-технологии Polygon пользователь получает наивысшую скорость проведения транзакций
          и…</p>
      </div>
    </div>
  </div>
  <div class="question-item">
    <div class="question-item__line line" data-duration="1.2"></div>
    <div class="question-item__line line question-item__line line_bottom"></div>
    <div class="question-item__header" data-effect='fade-down'>
      <h5 class="question-item__title">Can I trade or sell my in-game assets on external trading platforms?
      </h5>
      <div class="question-item__arrow">
        <img src="img/icons/arrow_slider.svg" alt="arrow">
      </div>
    </div>
    <div class="question-item__body">
      <div class="question-item__text">
        <p>Мы сделали максимально доступными и безопасными операции для всех наших пользователей с нашим токеном
          ONM.
          Благодаря блокчейн-технологии Polygon пользователь получает наивысшую скорость проведения транзакций
          и…</p>
      </div>
    </div>
  </div>
  <div class="question-item">
    <div class="question-item__line line" data-duration="1.2"></div>
    <div class="question-item__line line question-item__line line_bottom"></div>
    <div class="question-item__header" data-effect='fade-down'>
      <h5 class="question-item__title">Are there any restrictions or limits for participating in ONMI?
      </h5>
      <div class="question-item__arrow">
        <img src="img/icons/arrow_slider.svg" alt="arrow">
      </div>
    </div>
    <div class="question-item__body">
      <div class="question-item__text">
        <p>Мы сделали максимально доступными и безопасными операции для всех наших пользователей с нашим токеном
          ONM. Благодаря блокчейн-технологии Polygon пользователь получает наивысшую скорость проведения
          транзакций и…</p>
      </div>
    </div>
  </div>
</section>
