<section class="reality">
  <div class="container">
    <div class="reality__screens">
      <div class="reality__screen reality__screen_1" data-duration="2">
        <picture>
          <!--                    <source media="(max-width:768px)" srcset="./img/phoneScreen_mob.png">-->
          <noscript data-webp><img src="img/reality/phone_1.png" alt="screen_1"></noscript>
        </picture>
      </div>
      <div class="reality__screen reality__screen_2">
        <picture>
          <noscript data-webp><img src="img/reality/phone_2.png" alt="screen_2"></noscript>
        </picture>
      </div>
      <div class="reality__screen reality__screen_3" data-duration="2">
        <picture>
          <!--                    <source media="(max-width:768px)" srcset="./img/phoneScreen_mob.png">-->
          <noscript data-webp><img src="img/reality/phone_3.png" alt="screen_3"></noscript>
        </picture>
      </div>
    </div>

    <div class="reality__text reality__text_small">
      <div class="text-line color_gray" data-delay="0.1">Choose what it is, a game or a new image in</div>
      <div class="text-line color_gray" data-delay="0.2">the intersection of life and technology in</div>
      <div class="text-line" data-delay="0.3">Reality 2.0</div>
    </div>
    <div class="reality__decor" data-effect="opacity" data-delay="0.1" data-duration="1">
      <noscript data-webp>
        <img src="img/icons/reality-decor.png" alt="decor">
      </noscript>
    </div>
  </div>
</section>
