<section class="roadmap">
    <div class="container container_padding">
        <h2 class="roadmap__title gradient-text"  data-effect="opacity" data-lag="0.2">Perspective</h2>
        <div class="roadmap__content">
            <div class="roadmap__content-item roadmap-item roadmap-item_header">
                <div class="roadmap-item__wrapper main-wrapper">
                    <div class="main-wrapper__col">
                        <div class="roadmap-item__label">
                            <span data-effect="line">time</span>
                        </div>
                    </div>
                    <div class="main-wrapper__col roadmap-item__col-wrapper">
                        <div class="main-wrapper__col-item">
                            <div class="roadmap-item__label">
                                <span data-effect="line">Dev</span>
                            </div>
                        </div>
                        <div class="main-wrapper__col-item">
                            <div class="roadmap-item__label">
                                <span data-effect="line">Game</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="line line_bottom"></div>
            </div>
            <div class="roadmap__content-item roadmap-item">
                <div class="roadmap-item__wrapper main-wrapper">
                    <div class="main-wrapper__col">
                        <div class="roadmap-item__time">
                            <span class="animate" data-effect="line">2019-2020</span>
                        </div>
                    </div>
                    <div class="main-wrapper__col roadmap-item__col-wrapper">
                        <div class="main-wrapper__col-item">
                            <div class="roadmap-item__descr ">
                                <p data-effect="fade-down">Во время пандемии коронавируса, создателям пришла идея
                                    приложения, которое позволило бы дать
                                    реальности еще один уровень, оставаясь при этом полностью вовлеченным в происходящее
                                    вокруг. Так
                                    появилось ONMI.
                                </p>
                            </div>
                        </div>
                        <div class="main-wrapper__col-item">
                            <div class="roadmap-item__descr">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="line line_bottom"></div>
            </div>
            <div class="roadmap__content-item roadmap-item">
                <div class="roadmap-item__wrapper main-wrapper">
                    <div class="main-wrapper__col">
                        <div class="roadmap-item__time">
                            <span class="animate" data-effect="line">2022</span>
                        </div>
                    </div>
                    <div class="main-wrapper__col roadmap-item__col-wrapper">
                        <div class="main-wrapper__col-item">
                            <div class="roadmap-item__descr">
                                <p data-effect="fade-down">Pre-production and closed development.</p>
                                <p data-effect="fade-down">Throughout the year, we systematically developed the core
                                    components of
                                    ONMI.</p>
                            </div>
                        </div>
                        <div class="main-wrapper__col-item">
                            <div class="roadmap-item__descr">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="line line_bottom"></div>
            </div>
            <div class="roadmap__content-item roadmap-item">
                <div class="roadmap-item__wrapper main-wrapper">
                    <div class="main-wrapper__col">
                        <div class="roadmap-item__time">
                            <span class="animate" data-effect="line">Q3 | 2023</span>
                        </div>
                    </div>
                    <div class="main-wrapper__col roadmap-item__col-wrapper">
                        <div class="main-wrapper__col-item">
                            <div class="roadmap-item__descr ">
                                <p data-effect="fade-down">
                                    While the team of developers and game designers created an immersive virtual reality
                                    world, key
                                    business goals were lined up.</p>
                                <p data-effect="fade-down">
                                    We developed customer relationships and built relationships with strategic
                                    partners.</p>
                                <p data-effect="fade-down">
                                    We also created an effective go-to-market strategy and worked on the architecture of
                                    the product.</p>
                            </div>
                        </div>
                        <div class="main-wrapper__col-item">
                            <div class="roadmap-item__descr">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="line line_bottom"></div>
            </div>
            <div class="roadmap__content-item roadmap-item">
                <div class="roadmap-item__wrapper main-wrapper">
                    <div class="main-wrapper__col">
                        <div class="roadmap-item__time">
                            <span class="animate" data-effect="line">Q2 | 2023</span>
                        </div>
                    </div>
                    <div class="main-wrapper__col roadmap-item__col-wrapper">
                        <div class="main-wrapper__col-item">
                            <div class="roadmap-item__descr ">
                                <p data-effect="fade-down">Developers completed a game concept and Whitepaper outlining
                                    the details of
                                    the project.</p>
                                <p data-effect="fade-down">The team built a working economics of the game and built a
                                    human resources
                                    strategy. The
                                    technical infrastructure was based on microservices architecture and smart
                                    contracts. They attracted
                                    investments using a strategy of lunches and privatizations.</p>
                                <p data-effect="fade-down">As a result, the project began preparing
                                    to release a testnet to present its work.</p>
                            </div>
                        </div>
                        <div class="main-wrapper__col-item">
                            <div class="roadmap-item__descr">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="line line_bottom"></div>
            </div>
            <div class="roadmap__content-item roadmap-item">
                <div class="roadmap-item__wrapper main-wrapper">
                    <div class="main-wrapper__col">
                        <div class="roadmap-item__time">
                            <span class="animate" data-effect="line">Q3 | 2023</span>
                        </div>
                    </div>
                    <div class="main-wrapper__col roadmap-item__col-wrapper">
                        <div class="main-wrapper__col-item">
                            <div class="roadmap-item__descr ">
                                <p data-effect="fade-down">The ONMI app was successfully launched on the App Store and
                                    Google Play
                                    Store, making it widely available to users. In addition, a convenient wallet was
                                    integrated into the
                                    app, allowing users to store and manage their assets and tokens.
                                </p>
                                <p data-effect="fade-down">
                                    The team also developed and implemented innovative AI-ML models, enhancing the
                                    unique user experience
                                    provided by ONMI. A well-defined strategy was developed to attract Web2 users to the
                                    platform,
                                    increasing the user base and engagement.
                                </p>
                                <p data-effect="fade-down">
                                    Smart contracts were thoroughly audited to ensure user reliability and security,
                                    which helped build
                                    trust and protect assets. ONMI has been successfully floated on decentralized (DEX)
                                    and centralized
                                    (CEX) exchanges, providing liquidity and accessibility to token trading.
                                </p>
                                <p data-effect="fade-down">
                                    A mainnet was enthusiastically released, allowing users to experience the full
                                    potential and
                                    functionality of ONMI.
                                </p>
                            </div>
                        </div>
                        <div class="main-wrapper__col-item">
                            <div class="roadmap-item__descr">
                                <p data-effect="fade-down">In addition, the team introduced the following gaming
                                    features:</p>
                                <p data-effect="fade-down">Weather: Real-time weather effects on the in-game map that
                                    affect
                                    rewards.</p>
                                <p data-effect="fade-down">Totems: Unique locations with totems that restore energy and
                                    eliminate wear
                                    and tear on the ONMI.</p>
                                <p data-effect="fade-down">PvP Zones: Zones on the map designed for PvP battles</p>
                                <p data-effect="fade-down">OMI Showcase: Users can place their OMI in various places on
                                    the map, showing
                                    them off to other users and collecting likes.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="line line_bottom"></div>
            </div>
            <div class="roadmap__content-item roadmap-item">
                <div class="roadmap-item__wrapper main-wrapper">
                    <div class="main-wrapper__col">
                        <div class="roadmap-item__time">
                            <span class="animate" data-effect="line">Q4 | 2023</span>
                        </div>
                    </div>
                    <div class="main-wrapper__col roadmap-item__col-wrapper">
                        <div class="main-wrapper__col-item">
                            <div class="roadmap-item__descr ">

                            </div>
                        </div>
                        <div class="main-wrapper__col-item">
                            <div class="roadmap-item__descr">
                                <p data-effect="fade-down">clans: Unite with other players, create clans and conquer
                                    resources
                                    together.</p>
                                <p data-effect="fade-down">Conquer Regions: Fight for control of different areas on the
                                    map, gaining
                                    increased rewards from other
                                    players in these regions.</p>
                                <p data-effect="fade-down">Conquer Clan Zones: Clans can establish and maintain
                                    dominance over certain
                                    regions, gaining exclusive
                                    benefits and rewards.</p>
                                <p data-effect="fade-down">Boss Orbs: Engage in group battles against powerful boss
                                    orbs, earning
                                    significant rewards.</p>
                                <p data-effect="fade-down">AR Objects in Cultural Landmarks: Find augmented reality
                                    objects associated
                                    with cultural landmarks,
                                    unlocking power-ups and hidden treasures.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
