<section class="roadmap">
  <div class="container container_padding">
    <h2 class="roadmap__title gradient-text" data-effect="opacity">Perspective</h2>
    <div class="roadmap__content">
      <div class="roadmap__content-item roadmap-item">
        <div class="line line_top"></div>
        <div class="roadmap-item__wrapper main-wrapper">
          <div class="main-wrapper__col">
            <div class="roadmap-item__time">
              <span class="animate" data-effect="line">2019-2020</span>
            </div>
          </div>
          <div class="main-wrapper__col roadmap-item__col-wrapper">
            <div class="main-wrapper__col-item">
              <div class="roadmap-item__descr ">
                <p data-effect="opacity">An idea is concieved during the covid lockdown of an app that
                  would allow
                  people to more fully immerse in the outside world, augmented by cutting edge XR
                  technology.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="line line_bottom"></div>
      </div>
      <div class="roadmap__content-item roadmap-item">
        <div class="roadmap-item__wrapper main-wrapper">
          <div class="main-wrapper__col">
            <div class="roadmap-item__time">
              <span class="animate" data-effect="line">Q1 | 2023</span>
            </div>
          </div>
          <div class="main-wrapper__col roadmap-item__col-wrapper">
            <div class="main-wrapper__col-item">
              <div class="roadmap-item__descr ">
                <p data-effect="opacity">onmi's core components and principles are founded, ideas and
                  basic mechanics
                  were drafted. The game began development.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="line line_bottom"></div>
      </div>
      <div class="roadmap__content-item roadmap-item">
        <div class="roadmap-item__wrapper main-wrapper">
          <div class="main-wrapper__col">
            <div class="roadmap-item__time">
              <span class="animate" data-effect="line">Q2 | 2023</span>
            </div>
          </div>
          <div class="main-wrapper__col roadmap-item__col-wrapper">
            <div class="main-wrapper__col-item">
              <div class="roadmap-item__descr ">
                <p data-effect="opacity">Key business decisions were made, development and content plan
                  is established,
                  key partners were contacted and collaboration efforts have started.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="line line_bottom"></div>
      </div>
      <div class="roadmap__content-item roadmap-item">
        <div class="roadmap-item__wrapper main-wrapper">
          <div class="main-wrapper__col">
            <div class="roadmap-item__time">
              <span class="animate" data-effect="line">Q3 | 2023</span>
            </div>
          </div>
          <div class="main-wrapper__col roadmap-item__col-wrapper">
            <div class="main-wrapper__col-item">
              <div class="roadmap-item__descr ">
                <p data-effect="opacity">onmi Whitepaper, product documentation, roadmap and other
                  documents are
                  finalized. Game Economy is fully calculated and a project team scaling strategy is
                  developed.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="line line_bottom"></div>
      </div>
      <div class="roadmap__content-item roadmap-item">
        <div class="roadmap-item__wrapper main-wrapper">
          <div class="main-wrapper__col">
            <div class="roadmap-item__time">
              <span class="animate" data-effect="line">Q4 | 2023</span>
            </div>
          </div>
          <div class="main-wrapper__col roadmap-item__col-wrapper">
            <div class="main-wrapper__col-item">
              <div class="roadmap-item__descr">
                <p>onmi is launched on Google Play and Apple App Store with complete core game
                  mechanics. Internal
                  tokenomics model is launched alongside the game. First clothing collections are
                  launched are available
                  for crafting and players start exchanging on the market. </p>
              </div>
            </div>
          </div>
        </div>
        <div class="line line_bottom"></div>
      </div>
      <div class="roadmap__content-item roadmap-item">
        <div class="roadmap-item__wrapper main-wrapper">
          <div class="main-wrapper__col">
            <div class="roadmap-item__time">
              <span class="animate" data-effect="line">Q1 | 2024</span>
            </div>
          </div>
          <div class="main-wrapper__col roadmap-item__col-wrapper">
            <div class="main-wrapper__col-item">
              <div class="roadmap-item__descr">
                <p>Omi Ghosts are launched, allowing newcomers to experience Reality 2.0 for free for a
                  limited time.
                  The hunger games perliminaries are carried out and the tournament is held worldwide.
                  First competetive
                  multilayer challenge is launched, based on a popular io game. ONM token is listed on
                  DEX and CEX
                  listings</p>
              </div>
            </div>
          </div>
        </div>
        <div class="line line_bottom"></div>
      </div>
      <div class="roadmap__content-item roadmap-item roadmap-item_half">
        <div class="roadmap-item__wrapper main-wrapper">
          <div class="main-wrapper__col">
            <div class="roadmap-item__time">
              <span class="animate" data-effect="line">Q2 | 2024</span>
            </div>
          </div>
          <div class="main-wrapper__col roadmap-item__col-wrapper">
            <div class="main-wrapper__col-item">
              <div class="roadmap-item__descr">
                <p>A new competitive challenge is launched: a collectible card game called "Napies".
                  Cards in player
                  inventories can now be utilized fully in this game mode. Competitive ranking is
                  introduced, providing
                  profit incentives for higher skilled players. onmi spots are released, encouraging
                  players to hang out
                  together.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="line line_bottom"></div>
      </div>
      <div class="roadmap__content-item roadmap-item">
        <div class="roadmap-item__wrapper main-wrapper">
          <div class="main-wrapper__col">
            <div class="roadmap-item__time">
              <span class="animate" data-effect="line">Q3 | 2024</span>
            </div>
          </div>
          <div class="main-wrapper__col roadmap-item__col-wrapper">
            <div class="main-wrapper__col-item">
              <div class="roadmap-item__descr">
                <p>A new gameplay is added, where people join up and conquer territory block by block. A
                  basic narrative
                  is added to the game that expands on core principles and ideas of onmi. AR routes
                  and festival utility
                  is added, expanding Reality 2.0 more into the real world.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="line line_bottom"></div>
      </div>
      <div class="roadmap__content-item roadmap-item">
        <div class="roadmap-item__wrapper main-wrapper">
          <div class="main-wrapper__col">
            <div class="roadmap-item__time">
              <span class="animate" data-effect="line">Q4 | 2024</span>
            </div>
          </div>
          <div class="main-wrapper__col roadmap-item__col-wrapper">
            <div class="main-wrapper__col-item">
              <div class="roadmap-item__descr">
                <p>onmi for creators programme is launched, allowing third parties to launch their
                  custom content within
                  the game. Teams are formed to create local game content and ARGs.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="line line_bottom"></div>
      </div>
      <div class="roadmap__content-item roadmap-item">
        <div class="roadmap-item__wrapper main-wrapper">
          <div class="main-wrapper__col">
            <div class="roadmap-item__time">
              <span class="animate" data-effect="line">Q1 | 2025</span>
            </div>
          </div>
          <div class="main-wrapper__col roadmap-item__col-wrapper">
            <div class="main-wrapper__col-item">
              <div class="roadmap-item__descr">
                <p>onmi is released for upcoming wearable AR devices, allowing Reality 2.0 to transition
                  into the new
                  age. Orbs are no longer random. Players can submit their places using our
                  specialized service to
                  elevate interesting places and real-life art
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="line line_bottom"></div>
      </div>
      <div class="roadmap__content-item roadmap-item">
        <div class="roadmap-item__wrapper main-wrapper">
          <div class="main-wrapper__col">
            <div class="roadmap-item__time">
              <span class="animate" data-effect="line">Q2 | 2025</span>
            </div>
          </div>
          <div class="main-wrapper__col roadmap-item__col-wrapper">
            <div class="main-wrapper__col-item">
              <div class="roadmap-item__descr">
                <p>AR elements are expanded more: Collaborative activities like sculpting are added. Omi
                  can now be
                  interacted with in AR, clothes recieve further utility, allowing players to wear
                  them in AR.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="line line_bottom"></div>
      </div>
      <div class="roadmap__content-item roadmap-item">
        <div class="roadmap-item__wrapper main-wrapper">
          <div class="main-wrapper__col">
            <div class="roadmap-item__time">
              <span class="animate" data-effect="line">Q3 | 2025</span>
            </div>
          </div>
          <div class="main-wrapper__col roadmap-item__col-wrapper">
            <div class="main-wrapper__col-item">
              <div class="roadmap-item__descr">
                <p>Main storylines are established, ARGs are lauched. People are encouraged to explore
                  real and virtual
                  worlds to uncover clues and crucial story details.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="line line_bottom"></div>
      </div>
      <div class="roadmap__content-item roadmap-item">
        <div class="roadmap-item__wrapper main-wrapper">
          <div class="main-wrapper__col">
            <div class="roadmap-item__time">
              <span class="animate" data-effect="line">Q4 | 2025</span>
            </div>
          </div>
          <div class="main-wrapper__col roadmap-item__col-wrapper">
            <div class="main-wrapper__col-item">
              <div class="roadmap-item__descr">
                <p>Omi + AI. Omi are expanded significantly- they are now living beings with emotions
                  and will. Players
                  can now talk to their Omi, discuss issues, find support and reflect on their past
                  adventures. Omi will
                  become intelligent and highly valued.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main-wrapper">
      <div class="main-wrapper__col"></div>
      <div class="main-wrapper__col">
        <buttom class="roadmap__btn btn">See more</buttom>
      </div>
    </div>
  </div>
</section>
