<section class="roadmap">
  <div class="container container_padding">
    <h2 class="roadmap__title gradient-text" data-effect="opacity">Perspective</h2>
    <div class="roadmap__content">
      <div class="roadmap__content-item roadmap-item roadmap-item_header">
        <div class="roadmap-item__wrapper main-wrapper">
          <div class="main-wrapper__col">
            <div class="roadmap-item__label">
              <span data-effect="line">time</span>
            </div>
          </div>
          <div class="main-wrapper__col roadmap-item__col-wrapper">
            <div class="main-wrapper__col-item">
              <div class="roadmap-item__label">
                <span data-effect="line">Dev</span>
              </div>
            </div>
            <div class="main-wrapper__col-item">
              <div class="roadmap-item__label">
                <span data-effect="line">Game</span>
              </div>
            </div>
          </div>
        </div>
        <div class="line line_bottom"></div>
      </div>
      <div class="roadmap__content-item roadmap-item">
        <div class="roadmap-item__wrapper main-wrapper">
          <div class="main-wrapper__col">
            <div class="roadmap-item__time">
              <span class="animate" data-effect="line">2019-2020</span>
            </div>
          </div>
          <div class="main-wrapper__col roadmap-item__col-wrapper">
            <div class="main-wrapper__col-item">
              <div class="roadmap-item__descr ">
                <p data-effect="opacity">During the coronavirus pandemic, the creators devised an app allowing them to
                  add another layer to reality while remaining fully engaged in what was happening around them. That is
                  how ONMI was born.

                </p>
              </div>
            </div>
            <div class="main-wrapper__col-item">
              <div class="roadmap-item__descr">

              </div>
            </div>
          </div>
        </div>
        <div class="line line_bottom"></div>
      </div>
      <div class="roadmap__content-item roadmap-item">
        <div class="roadmap-item__wrapper main-wrapper">
          <div class="main-wrapper__col">
            <div class="roadmap-item__time">
              <span class="animate" data-effect="line">2022</span>
            </div>
          </div>
          <div class="main-wrapper__col roadmap-item__col-wrapper">
            <div class="main-wrapper__col-item">
              <div class="roadmap-item__descr">
                <p data-effect="opacity">Pre-production and closed development
                </p>
                <p data-effect="opacity">Throughout the year, we systematically developed ONMI’s core components.</p>
              </div>
            </div>
            <div class="main-wrapper__col-item">
              <div class="roadmap-item__descr">

              </div>
            </div>
          </div>
        </div>
        <div class="line line_bottom"></div>
      </div>
      <div class="roadmap__content-item roadmap-item">
        <div class="roadmap-item__wrapper main-wrapper">
          <div class="main-wrapper__col">
            <div class="roadmap-item__time">
              <span class="animate" data-effect="line">Q3 | 2023</span>
            </div>
          </div>
          <div class="main-wrapper__col roadmap-item__col-wrapper">
            <div class="main-wrapper__col-item">
              <div class="roadmap-item__descr ">
                <p data-effect="opacity">
                  While the developers and game designers worked on creating an immersive virtual reality world, we
                  established key business objectives.</p>
                <p data-effect="opacity">
                  We built relationships with customers as well as strategic partners.</p>
                <p data-effect="opacity">
                  Our team also developed an effective go-to-market strategy and worked on the product's
                  architecture.</p>
              </div>
            </div>
            <div class="main-wrapper__col-item">
              <div class="roadmap-item__descr">

              </div>
            </div>
          </div>
        </div>
        <div class="line line_bottom"></div>
      </div>
      <div class="roadmap__content-item roadmap-item">
        <div class="roadmap-item__wrapper main-wrapper">
          <div class="main-wrapper__col">
            <div class="roadmap-item__time">
              <span class="animate" data-effect="line">Q2 | 2023</span>
            </div>
          </div>
          <div class="main-wrapper__col roadmap-item__col-wrapper">
            <div class="main-wrapper__col-item">
              <div class="roadmap-item__descr ">
                <p data-effect="opacity">Our developers finished the game concept and whitepaper, outlining the
                  project’s details.</p>
                <p data-effect="opacity">Another team created a working game economy and a human resource strategy.</p>
                <p data-effect="opacity">ONMI’S technical infrastructure was based on microservices architecture and
                  smart contracts.</p>
                <p data-effect="opacity">We attracted investments using a lunch and privatization strategy. Then we
                  released a testnet to present our work.</p>
              </div>
            </div>
            <div class="main-wrapper__col-item">
              <div class="roadmap-item__descr">

              </div>
            </div>
          </div>
        </div>
        <div class="line line_bottom"></div>
      </div>
      <div class="roadmap__content-item roadmap-item">
        <div class="roadmap-item__wrapper main-wrapper">
          <div class="main-wrapper__col">
            <div class="roadmap-item__time">
              <span class="animate" data-effect="line">Q3 | 2023</span>
            </div>
          </div>
          <div class="main-wrapper__col roadmap-item__col-wrapper">
            <div class="main-wrapper__col-item">
              <div class="roadmap-item__descr ">
                <p data-effect="opacity">The ONMI app was successfully launched on the App Store and Google Play Store,
                  making it widely available to users. In addition, a convenient wallet was integrated into the app,
                  allowing users to store and manage their assets and tokens.
                </p>
                <p data-effect="opacity">
                  The team also developed and implemented innovative AI-ML models, enhancing the unique ONMI user
                  experience. We developed a well-defined strategy to attract Web2 users to the platform, increasing the
                  user base and engagement.
                </p>
                <p data-effect="opacity">
                  Smart contracts were thoroughly audited to ensure user reliability and security, which helped build
                  trust and protect assets. ONMI has been successfully floated on decentralized (DEX) and centralized
                  (CEX) exchanges, providing liquidity and accessibility to token trading.
                </p>
                <p data-effect="opacity">
                  A mainnet was subsequently released, allowing users to experience ONMI’s full potential and
                  functionality.
                </p>
              </div>
            </div>
            <div class="main-wrapper__col-item">
              <div class="roadmap-item__descr">
                <p data-effect="opacity">In addition, the team introduced the following gaming features:</p>
                <p data-effect="opacity">Weather: Real-time weather effects on the in-game map that affect rewards.</p>
                <p data-effect="opacity">Totems: Unique locations with totems that restore energy and eliminate wear and
                  tear on the ONMI.</p>
                <p data-effect="opacity">PvP Zones: Zones on the map designed for PvP battles</p>
                <p data-effect="opacity">OMI Showcase: Users can place their OMI in various places on the map, showing
                  them off to other users
                  and farming likes.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="line line_bottom"></div>
      </div>
      <div class="roadmap__content-item roadmap-item">
        <div class="roadmap-item__wrapper main-wrapper">
          <div class="main-wrapper__col">
            <div class="roadmap-item__time">
              <span class="animate" data-effect="line">Q4 | 2023</span>
            </div>
          </div>
          <div class="main-wrapper__col roadmap-item__col-wrapper">
            <div class="main-wrapper__col-item">
              <div class="roadmap-item__descr">

              </div>
            </div>
            <div class="main-wrapper__col-item">
              <div class="roadmap-item__descr">
                <p data-effect="opacity">Clans: Unite with other players, create clans, and conquer resources
                  together.</p>
                <p data-effect="opacity">Conquer Regions: Fight for control of different areas on the map, gaining
                  increased rewards from other players in these regions.</p>
                <p data-effect="opacity">Conquer Clan Zones: Clans can establish and maintain dominance over certain
                  regions, gaining exclusive
                  benefits and rewards.</p>
                <p data-effect="opacity">Boss Orbs: Engage in group battles against powerful boss orbs, earning
                  significant rewards.</p>
                <p data-effect="opacity">AR Objects in Cultural Landmarks: Find augmented reality objects associated
                  with cultural landmarks,
                  unlocking power-ups and hidden treasures.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
