<section class="security ">
  <div class="container container_padding">
    <h3 class="security__title hidden">
      <span data-effect="line">Security</span>
    </h3>
    <div class="security__row">
      <div class="security__row-line line"></div>
      <div class="security__wrapper main-wrapper">
        <div class="main-wrapper__col">
          <div class="security__label hidden">
            <span data-effect="line">Conception</span>
          </div>
        </div>
        <div class="main-wrapper__col">
          <div class="security__text">
            <p>The modular layout of the ONMI structural security's technical implementation is its defining
              characteristic.</p>
            <p>Each active element in the overall structure performs its function strictly, and each module is an
              autonomous program with its own source code and personal security concept, indirectly affecting the
              overall security picture.</p>
            <p>A device like this is fully consistent with the philosophy of blockchain platforms.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="security__row">
      <div class="security__row-line line"></div>
      <div class="security__wrapper main-wrapper">
        <div class="main-wrapper__col">
          <div class="security__label hidden">
            <span data-effect="line">Software sustainability</span>
          </div>
        </div>
        <div class="main-wrapper__col">
          <div class="security__text">
            <p>All computational processes underlying the game mechanics are carried out in external environments to
              avoid overloading the data storage system within the blockchain platform.</p>
            <p>Additional computational power within the blockchain platform is unused, as each transaction transmits to
              the block only necessary information about the current state of the game to achieve maximum transparency
              of mathematical processes.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="security__wrapper main-wrapper">
    <div class="main-wrapper__col"></div>
    <div class="main-wrapper__col">
      <div class="security__text security__text_big">
        <p class="readed-text">ONMI is a living structure. We can only imagine its future, and we know that AI
          technology will play a big part. AI might eventually develop scenarios based on user behavior patterns.
        </p>
        <p class="readed-text">
          However, AI can never replace community and the positive emotions you get by communicating with like-minded
          people.
        </p>
        <p class="readed-text">
          Therefore, our top priority is to further develop ONMI's social features.
      </div>
    </div>
  </div>
</div>
