<section class="sound">
  <div class="sound__anim">
    <!--    <canvas id="waves"></canvas>-->
    <div class="wrap">
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
      <div class="c"></div>
    </div>
  </div>
  <div class="sound__text">
    <div class="text-line" data-delay="0.1">
      <span class="text-desktop">To achieve total immersion into reality 2.0, we asked the</span>
      <span class="text-mob">
            To achieve total immersion into reality 2.0,
          </span>
    </div>
    <div class="text-line" data-delay="0.2">
      <span class="text-desktop">business to create industry to craft an unparalleled auditory</span>
      <span class="text-mob" data-delay="0.3">
             we asked the best in the industry
      </span>
    </div>
    <div class="text-line" data-delay="0.3">
      <span class="text-desktop">experience.</span>
      <span class="text-mob">
             to craft an unparalleled auditory
      </span>
    </div>
    <div class="text-line  text-mob" data-delay="0.4">
      experience.
    </div>
  </div>
  <div class="sound-season">
    <div class="sound-season__count text-line" data-delay="0.1">1st Season</div>
    <div class="sound-season__author text-line" data-delay="0.2">
      <div class="sound-season__photo">
        <noscript data-webp="">
          <img src="img/sound/nina.jpg"  alt="Nina Kraviz">
        </noscript>
      </div>
      <div class="sound-season__name">Nina Kraviz</div>
    </div>
  </div>
  <div>
    <div class="sound-season__line text-line" data-delay="0.3"></div>
  </div>
  <div class="sound-season">
    <div class="sound-season__count text-line" data-delay="0.3">2nd Season</div>
    <div class="sound-season__author text-line sound-season__author_unknown" data-delay="0.4">
      <div class="sound-season__photo">
        <noscript data-webp="">
          <img src="img/sound/unknown.jpg"  alt="unknown artist">
        </noscript>
      </div>
      <div class="sound-season__name"></div>
    </div>
  </div>
</section>
