<section class="sound">
  <div class="sound__decor" data-effect="opacity">
    <noscript data-webp>
      <img src="img/sound_circle.png" loading="lazy" alt="">
    </noscript>
  </div>
  <h2 class="main__title sound__title">
    <div class="title-row">
      <span class="text-line" data-delay="0.1">Star</span>
    </div>
    <div class="title-row">
      <span class="text-line color_gray" data-delay="0.2">sound design</span>
    </div>
  </h2>

  <div class="sound__text">
    <div class="text-line" data-delay="0.1">
      <span class="text-desktop">To achieve total immersion into Reality 2.0, we’ve</span>
      <span class="text-mob">
        To achieve total immersion into Reality 2.0,
      </span>
    </div>
    <div class="text-line" data-delay="0.2">
      <span class="text-desktop">tasked the industry experts to craft an unparalleled</span>
      <span class="text-mob" data-delay="0.3">
             we’ve tasked the industry experts to craft
      </span>
    </div>
    <div class="text-line" data-delay="0.3">
      <span class="text-desktop">immersive auditory experience.</span>
      <span class="text-mob">
             an unparalleled immersive auditory
      </span>
    </div>
    <div class="text-line text-mob" data-delay="0.4">
      experience.
    </div>
  </div>
  <div class="sound-season">
    <div class="sound-season__count text-line" data-delay="0.1">1st Season</div>
    <div class="sound-season__author text-line" data-delay="0.2">
      <div class="sound-season__photo">
        <noscript data-webp="">
          <img src="img/sound/nina.jpg" alt="Nina Kraviz">
        </noscript>
      </div>
      <div class="sound-season__name">Nina Kraviz</div>
    </div>
  </div>
  <div>
    <div class="sound-season__line text-line" data-delay="0.3"></div>
  </div>
  <div class="sound-season">
    <div class="sound-season__count text-line" data-delay="0.3">2nd Season</div>
    <div class="sound-season__author text-line sound-season__author_unknown" data-delay="0.4">
      <div class="sound-season__photo">
        <noscript data-webp="">
          <img src="img/sound/unknown.jpg" alt="unknown artist">
        </noscript>
      </div>
      <div class="sound-season__name"></div>
    </div>
  </div>
</section>
