<section class="step" data-speed="1.1">
  <div class="container container_padding">
    <div class="step__wrapper main-wrapper">
      <div class="line line_top"></div>
      <div class="main-wrapper__col">
        <div class="step__descr">
          <h2 class="step__title ">
            <span data-effect="opacity">4</span>
            <span data-effect="opacity" data-delay="0.4">steps</span>
            <span data-effect="opacity" data-delay="0.6">to</span>
            <span data-effect="opacity" data-delay="0.8">win</span>
          </h2>
          <div class="step__text" data-effect="fade-in">
            <p>*20% of the game stack we send to charities in the Games area. 50% of the stack is burned away at no
              cost.
            </p>
          </div>
          <div class="line line_bottom"></div>
        </div>
      </div>
      <div class="main-wrapper__col">
        <ul class="step__list">
          <li class="step__list-elem" data-effect="fade-in" data-count="1">Be at the top of the single player list to be
            able to join the hunger
            games.</li>
          <li class="step__list-elem" data-effect="fade-in" data-count="2">Complete a series of quests. In each quest
            the
            weakest player is
            eliminated.</li>
          <li class="step__list-elem" data-effect="fade-in" data-count="3">Get to the next-to-last stage. The last stage
            is open for the
            remaining players at
            the indicated time and location.</li>
          <li class="step__list-elem" data-effect="fade-in" data-count="4">Be the first and win to receive 30% of the
            total stack of that
            particular hunger
            game.</li>
        </ul>
      </div>
    </div>
    <div class="step__content be-part">
      <div class="line line_bottom"></div>
      <div class="be-part__content">
        <h2 class="be-part__title main__title " data-effect="fade-in">
          <div class="be-part__title-row be-part__title-row_1">
            <span>BE PART</span>
          </div>
          <div class="be-part__title-row be-part__title-row_2">
            <span>OF AN</span>
          </div>
          <div class="be-part__title-row be-part__title-row_3">
            <span>IMPRESSIVE</span>
          </div>
          <div class="be-part__title-row be-part__title-row_4">
            <span>TRAVEL</span>
          </div>
          <div class="be-part__title-row be-part__title-row_5">
            <span>ADVENTURE</span>
          </div>
        </h2>
        <div class="be-part__pose" data-speed="1.1">
          <picture>
            <source media="(max-width: 767px)" srcset="img/be-part_pose_mob.png">
            <noscript data-webp><img src="img/be-part_pose.png"></noscript>
          </picture>
          <!-- <img src="img/be-part_pose.png" alt="pose"> -->
        </div>
      </div>
      <div class="individual__wrapper main-wrapper">
        <div class="main-wrapper__col">
        </div>
        <div class="main-wrapper__col">
          <div class="be-part__cirles circles">
            <div class="circle circle_1">
              <img src="img/icons/circle.svg" alt="">
            </div>

            <div class="circles__wrapper">
              <div class="circle circle_2">
                <img src="img/icons/circle.svg" alt="">
              </div>
              <div class="circle circle_3">
                <img src="img/icons/circle.svg" alt="">
              </div>
              <div class="circle circle_4">
                <img src="img/icons/circle.svg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="step__individual individual">
      <div class="individual__wrapper main-wrapper">
        <div class="main-wrapper__col">
          <h4 class="individual__title">
            <div class="individual__title-row">
              <span class="flip">You will be in individual</span>
            </div>
            <div class="individual__title-row">
              <span class="flip">and collective</span>
            </div>
            <div class="individual__title-row">
              <span class="flip">competitions.</span>
            </div>
          </h4>
        </div>
        <div class="main-wrapper__col individual-chose">
          <div class="individual-chose__item individual-chose__item_ind">
            <h5 class="individual-chose__label blue-text">
              <span class="animate" data-effect="line">individual</span>
            </h5>
            <div class="individual-chose__text" data-delay="0.4" data-effect="fade-in">
              <p>In the individual competitions you have to get to the location of the object and pick it up alone.</p>
            </div>
          </div>
          <div class="individual-chose__item individual-chose__item_coll">
            <h5 class="individual-chose__label blue-text">
              <span class="animate" data-effect="line">Collective</span>
            </h5>
            <ul class="individual-chose__list">
              <li class="individual-chose__list-elem" data-effect="fade-in" data-count="1" data-delay="0.6">
                team up with other players to pick up orbs and
                collect NFTs
              </li>
              <li class="individual-chose__list-elem" data-effect="fade-in" data-count="2" data-delay="0.7">
                Collect, together with other players pieces of NFTs around the world to bring it together later as one
                NFT.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
