<section class="team" data-speed="0.7">
  <div class="container container_padding">
    <h3 class="team__title">
      <span class="animate" data-effect="line">Team</span>
    </h3>
    <div class="team__row team-item">
      <div class="line line_top"></div>
      <div class="team-item__wrapper main-wrapper">
        <div class="main-wrapper__col">
          <h4 class="team-item__label">Core team</h4>
        </div>
        <div class="main-wrapper__col">
          <div class="team-item__teamates">
            <ul class="team-item__list">
              <li class="team-item__list-elem teammate" data-effect="fade-down">
                <div class="teammate__photo"></div>
                <div class="teammate__content">
                  <div class="teammate__content-name">stan</div>
                  <div class="teammate__content-job">ceo</div>
                </div>
              </li>
              <li class="team-item__list-elem teammate" data-effect="fade-down">
                <div class="teammate__photo"></div>
                <div class="teammate__content">
                  <div class="teammate__content-name">Serge</div>
                  <div class="teammate__content-job">ceo</div>
                </div>
              </li>
              <li class="team-item__list-elem teammate" data-effect="fade-down">
                <div class="teammate__photo"></div>
                <div class="teammate__content">
                  <div class="teammate__content-name">Roos</div>
                  <div class="teammate__content-job">ceo</div>
                </div>
              </li>
              <li class="team-item__list-elem teammate" data-effect="fade-down">
                <div class="teammate__photo"></div>
                <div class="teammate__content">
                  <div class="teammate__content-name">Ugin</div>
                  <div class="teammate__content-job">ceo</div>
                </div>
              </li>
            </ul>
            <div class="team-item__list">
              <li class="team-item__list-elem teammate" data-effect="fade-down">
                <div class="teammate__photo"></div>
                <div class="teammate__content">
                  <div class="teammate__content-name">Acee</div>
                  <div class="teammate__content-job">ceo</div>
                </div>
              </li>
              <li class="team-item__list-elem teammate" data-effect="fade-down">
                <div class="teammate__photo"></div>
                <div class="teammate__content">
                  <div class="teammate__content-name">Ann</div>
                  <div class="teammate__content-job">ceo</div>
                </div>
              </li>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="team__row team-item">
      <div class="line line_top"></div>
      <div class="team-item__wrapper main-wrapper">
        <div class="main-wrapper__col">
          <h4 class="team-item__label">
            <span class="animate" data-effect="line">Tech team</span>
          </h4>
        </div>
        <div class="main-wrapper__col">
          <ul class="team-item__list">
            <li class="team-item__list-elem">
              <span class="animate" data-effect="line">Digitaldestiny/</span>
            </li>
            <li class="team-item__list-elem">
              <span class="animate" data-effect="line">Archy/</span>
            </li>
            <li class="team-item__list-elem">
              <span class="animate" data-effect="line">Elena Nam/</span>
            </li>
            <li class="team-item__list-elem">
              <span class="animate" data-effect="line">Andrew/</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="team__row team-item">
      <div class="line line_top"></div>
      <div class="team-item__wrapper main-wrapper">
        <div class="main-wrapper__col">
          <h4 class="team-item__label">
            <span class="animate" data-effect="line">Artists</span>
          </h4>
        </div>
        <div class="main-wrapper__col">
          <ul class="team-item__list">
            <li class="team-item__list-elem">
              <span class="animate" data-effect="line">Digitaldestiny/</span>
            </li>
            <li class="team-item__list-elem">
              <span class="animate" data-effect="line">Archy/</span>
            </li>
            <li class="team-item__list-elem">
              <span class="animate" data-effect="line">Elena Nam/</span>
            </li>
            <li class="team-item__list-elem">
              <span class="animate" data-effect="line">Andrew/</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
