<section class="tokenomics">
  <div class="container">
    <div id="tokenomics__inner" class="tokenomics__inner">
      <div class="line line_top"></div>
      <div class="main-wrapper tokenomics__wrapper">
        <div class="main-wrapper__col">
          <h2 class="tokenomics__title">
            Tokenomics
          </h2>
        </div>
        <div class="main-wrapper__col">
          <div class="tokenomics__text tokenomics__text_big">
            <p class="readed-text">ONMI has developed a scarcity-based economy where all assets, such as tokens,
              resources and NFTs, have value and a limited supply.</p>
            <p class="readed-text">Creating in-game clothing is a necessary step for players to level up their
              characters, and if no one creates a certain item of clothing, it simply will not exist in the game.</p>
            <p class="readed-text">Thus, players must intelligently strategize their use of resources to improve their
              characters and increase their chances of obtaining valuable materials, tokens, and models.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



