<section class="token">
  <div class="container">
    <div class="token__circle">
      <div class="token__circle-content" data-effect="opacity" data-delay="0.6">
        <div class="token__circle-text">token</div>
        <div class="token__circle-name gradient-text">ONMI</div>
      </div>
      <div class="token__circle-shadow" data-duration="1.4" data-effect="opacity" data-delay="0.4"></div>
      <svg class="svg-circle svg-circle_1">
        <circle cx="50%" cy="50%" r="50%" fill=" none" data-duration="1.2" data-effect="opacity"  data-delay="0.3"></circle>
      </svg>
      <svg class="svg-circle svg-circle_2">
        <circle cx="50%" cy="50%" r="38%" fill=" none" data-duration="1.2" data-effect="opacity"  data-delay="0.2"></circle>
      </svg>
      <svg class="svg-circle svg-circle_3">
        <circle cx="50%" cy="50%" r="35%" fill=" none" data-duration="1.2" data-effect="opacity"  data-delay="0.1"></circle>
      </svg>
    </div>

  </div>
</section>
