<section class="vacancy">
  <div class="container container_padding">
    <div class="vacancy__header">
      <h3 class="vacancy__title">
        <span data-effect="line">Vacancy</span>
      </h3>
      <div class="line line_bottom"></div>
    </div>
    <div class="vacancy__wrapper main-wrapper">
      <div class="main-wrapper__col">
        <ul class="vacancy__tabs-list">
          <li class="vacancy__tabs-elem">
            <a href="" class="vacancy__tabs-tab current" data-effect="line">MANAGEMENT (3)</a>
          </li>
          <li class="vacancy__tabs-elem">
            <a href="" class="vacancy__tabs-tab" data-effect="line">GAME DESIGN (7)</a>
          </li>
          <li class="vacancy__tabs-elem">
            <a href="" class="vacancy__tabs-tab" data-effect="line">MARKETING (6)</a>
          </li>
          <li class="vacancy__tabs-elem">
            <a href="" class="vacancy__tabs-tab" data-effect="line">BUSINESS DEVELOPMENT (1)</a>
          </li>
          <li class="vacancy__tabs-elem">
            <a href="" class="vacancy__tabs-tab" data-effect="line">MARKETING CREATIVES (3)</a>
          </li>
          <li class="vacancy__tabs-elem">
            <a href="" class="vacancy__tabs-tab" data-effect="line">ART (5)</a>
          </li>
        </ul>
        <a data-effect="opacity" href="#" class="vacancy__btn btn more-btn" data-effect="opacity">MORE</a>
      </div>
      <div class="main-wrapper__col vacancy__tabs-content" data-effect="opacity">
        <div class="vacancy__tabs-body show">
          <div class="vacancy-item">
            <div class="vacancy-item__header">
              <h4 class="vacancy-item__name">Lead Developer</h4>
              <div class="line line_bottom"></div>
            </div>
            <div class="vacancy-item__descr">
              <p>The main feature of onmi structural security is the separation of modules in the architecture of the
                technical implementation of the system.</p>
              <p>Each of the active elements within the overall interaction structure performs strictly its own
                function,</p>
            </div>
          </div>
          <div class="vacancy-item">
            <div class="vacancy-item__header">
              <h4 class="vacancy-item__name">Lead Developer</h4>
              <div class="line line_bottom"></div>
            </div>
            <div class="vacancy-item__descr">
              <p>The main feature of onmi structural security is the separation of modules in the architecture of the
                technical implementation of the system.</p>
              <p>Each of the active elements within the overall interaction structure performs strictly its own
                function,</p>
            </div>
          </div>
        </div>
        <div class="vacancy__tabs-body">
          <div class="vacancy-item">
            <div class="vacancy-item__header">
              <h4 class="vacancy-item__name">Lead Developer</h4>
              <div class="line line_bottom"></div>
            </div>
            <div class="vacancy-item__descr">
              <p>The main feature of onmi structural security is the separation of modules in the architecture of the
                technical implementation of the system.</p>
              <p>Each of the active elements within the overall interaction structure performs strictly its own
                function,</p>
            </div>
          </div>
          <div class="vacancy-item">
            <div class="vacancy-item__header">
              <h4 class="vacancy-item__name">Lead Developer</h4>
              <div class="line line_bottom"></div>
            </div>
            <div class="vacancy-item__descr">
              <p>The main feature of onmi structural security is the separation of modules in the architecture of the
                technical implementation of the system.</p>
              <p>Each of the active elements within the overall interaction structure performs strictly its own
                function,</p>
            </div>
          </div>
        </div>
        <div class="vacancy__tabs-body">
          <div class="vacancy-item">
            <div class="vacancy-item__header">
              <h4 class="vacancy-item__name">Lead Developer</h4>
              <div class="line line_bottom"></div>
            </div>
            <div class="vacancy-item__descr">
              <p>The main feature of onmi structural security is the separation of modules in the architecture of the
                technical implementation of the system.</p>
              <p>Each of the active elements within the overall interaction structure performs strictly its own
                function,</p>
            </div>
          </div>
          <div class="vacancy-item">
            <div class="vacancy-item__header">
              <h4 class="vacancy-item__name">Lead Developer</h4>
              <div class="line line_bottom"></div>
            </div>
            <div class="vacancy-item__descr">
              <p>The main feature of onmi structural security is the separation of modules in the architecture of the
                technical implementation of the system.</p>
              <p>Each of the active elements within the overall interaction structure performs strictly its own
                function,</p>
            </div>
          </div>
        </div>
        <div class="vacancy__tabs-body">
          <div class="vacancy-item">
            <div class="vacancy-item__header">
              <h4 class="vacancy-item__name">Lead Developer</h4>
              <div class="line line_bottom"></div>
            </div>
            <div class="vacancy-item__descr">
              <p>The main feature of onmi structural security is the separation of modules in the architecture of the
                technical implementation of the system.</p>
              <p>Each of the active elements within the overall interaction structure performs strictly its own
                function,</p>
            </div>
          </div>
          <div class="vacancy-item">
            <div class="vacancy-item__header">
              <h4 class="vacancy-item__name">Lead Developer</h4>
              <div class="line line_bottom"></div>
            </div>
            <div class="vacancy-item__descr">
              <p>The main feature of onmi structural security is the separation of modules in the architecture of the
                technical implementation of the system.</p>
              <p>Each of the active elements within the overall interaction structure performs strictly its own
                function,</p>
            </div>
          </div>
        </div>
        <div class="vacancy__tabs-body">
          <div class="vacancy-item">
            <div class="vacancy-item__header">
              <h4 class="vacancy-item__name">Lead Developer</h4>
              <div class="line line_bottom"></div>
            </div>
            <div class="vacancy-item__descr">
              <p>The main feature of onmi structural security is the separation of modules in the architecture of the
                technical implementation of the system.</p>
              <p>Each of the active elements within the overall interaction structure performs strictly its own
                function,</p>
            </div>
          </div>
          <div class="vacancy-item">
            <div class="vacancy-item__header">
              <h4 class="vacancy-item__name">Lead Developer</h4>
              <div class="line line_bottom"></div>
            </div>
            <div class="vacancy-item__descr">
              <p>The main feature of onmi structural security is the separation of modules in the architecture of the
                technical implementation of the system.</p>
              <p>Each of the active elements within the overall interaction structure performs strictly its own
                function,</p>
            </div>
          </div>
        </div>
        <div class="vacancy__tabs-body">
          <div class="vacancy-item">
            <div class="vacancy-item__header">
              <h4 class="vacancy-item__name">Lead Developer</h4>
              <div class="line line_bottom"></div>
            </div>
            <div class="vacancy-item__descr">
              <p>The main feature of onmi structural security is the separation of modules in the architecture of the
                technical implementation of the system.</p>
              <p>Each of the active elements within the overall interaction structure performs strictly its own
                function,</p>
            </div>
          </div>
          <div class="vacancy-item">
            <div class="vacancy-item__header">
              <h4 class="vacancy-item__name">Lead Developer</h4>
              <div class="line line_bottom"></div>
            </div>
            <div class="vacancy-item__descr">
              <p>The main feature of onmi structural security is the separation of modules in the architecture of the
                technical implementation of the system.</p>
              <p>Each of the active elements within the overall interaction structure performs strictly its own
                function,</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
